mixin card-indent
  .card-indent&attributes(attributes)
    .card-indent__column
      .card-indent__icon
        i.fa.fa-file-alt
    .card-indent__column
      h4.card-indent__title Розмістіть резюме
      p.card-indent__text Роботодавці зможуть знайти вас і запропонувати хорошу роботу.
    .card-indent__column
      a(href="./worker/resume-create.html").button.button--sm.button--primary.card-indent__link
        span.button__text Створити резюме
