.button {
  @include make-spacer('py', 1);
  @include make-spacer('px', 3);

  border-radius: 10px;
  text-align: center;
  color: #83878e;

  span {

    &:nth-child(1) {
      font-size: 13px;
    }

    &:nth-child(2) {
      margin-left: 2px;
      font-size: 10px;
    }
  }

  &--primary {
    border: 1px solid #36363C;
    background-color: #252528;

    &:hover {
      color: var(--color-white);
      background-color: #36363c;
    }
  }

  &--outline {
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);

    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-white);
    }
  }
}
