.popup {
  @include make-spacer('p', 6);

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 14;
  background-color: rgba(0, 0, 0, 0.5);

  &__head,
  &__footer {
    @include make-spacer('px', 2);

    background-color: #2C2D30;
    font-size: 16px;
    flex-shrink: 0;
  }

  &__content {
    @include size(100%, 100%);

    background-color: #383A3E;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px var(--color-black);
    max-width: 800px;
  }

  &__wrapper {
    @include flex($direction: column);

    height: 100%;
    overflow: hidden;
  }

  &__head {
    @include flex(space-between, center);

    height: 36px;
    color: var(--color-white);
    text-transform: uppercase;
  }

  &__footer {
    @include flex(center, center);

    height: 58px;
  }

  &__body {
    flex-grow: 1;
    overflow: hidden;
  }

  &__list {
    @include make-spacer('p', 4);

    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-corner {
      background-color: #474747;
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid transparent;
      border-radius: 19px;
      background-clip: content-box;
      background-color: #888;
    }

    &::-webkit-scrollbar-track {
      border: 1px solid #373737;
      background-color: #474747;
    }
  }

  &__close {
    @include size(20px);

    svg {
      fill: var(--color-white);
    }
  }

  &__button {
    @include make-spacer('px', 4);
    @include make-spacer('py', 1);

    border: 1px solid #6c757d;
    border-radius: 20px;
    color: #6c757d;

    &:hover {
      color: #fff;
      background-color: #6c757d;
      border-color: #6c757d;
    }
  }

  &--active {
    @include flex(center, center);
  }
}
