.popup {
  @include make-spacer('p', 6);

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 14;
  background-color: rgba(0, 0, 0, 0.5);

  &__head,
  &__footer {
    @include make-spacer('px', 2);

    position: relative;
    background-color: #2C2D30;
    font-size: 14px;
    flex-shrink: 0;
  }

  &__content {
    @include size(100%);

    background-color: #383A3E;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px var(--color-black);
    max-width: 800px;

    @include media-breakpoint-up(md) {
      height: unset;
    }
  }

  &__wrapper {
    @include flex($direction: column);

    height: 100%;
    overflow: hidden;
  }

  &__head {
    @include flex($align-items: center);

    height: 36px;
    color: var(--color-white);
    text-transform: uppercase;
    font-family: var(--font-family-alt);
  }

  &__footer {
    @include flex(center, center);

    height: 58px;
  }

  &__body {
    flex-grow: 1;
    overflow: hidden;
  }

  &__list {
    @include make-spacer('p', 4);

    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-corner {
      background-color: #474747;
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid transparent;
      border-radius: 19px;
      background-clip: content-box;
      background-color: #888;
    }

    &::-webkit-scrollbar-track {
      border: 1px solid #373737;
      background-color: #474747;
    }
  }

  &__close {
    @include size(18px);

    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    svg {
      fill: var(--color-white);
    }
  }

  &__button {
    @include make-spacer('mx', 1);
    @include make-spacer('px', 4);

    border-radius: 20px;
  }

  &--active {
    @include flex(center, flex-start);
  }

  &--full {

    .popup {

      &__content {
        height: 100%;
      }
    }
  }
}
