.language {
  display: inline-block;
  position: relative;
  cursor: pointer;

  &:hover,
  &--acive {

    .language {

      &__dropdown {
        display: block;
      }
    }
  }

  &__text {
    @include flex($align-items: center);

    text-transform: capitalize;

    @include media-breakpoint-up(lg) {
      color: var(--color-white);
    }
  }

  &__icon {
    @include font-size(12px);
    @include make-spacer('ml', 1);
  }

  &__dropdown {
    @include make-spacer('pt', 4);

    display: none;
    position: absolute;
    top: 100%;
  }

  &__wrapper {
    @include make-spacer('p', 2);

    position: relative;
    background-color: var(--color-white);
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);
    min-width: 100px;

    &:before {
      position: absolute;
      top: -14px;
      border: 7px solid transparent;
      border-bottom: 10px solid var(--color-white);
      content: "";
    }
  }

  &__item {
    @include make-spacer('p', 1);
    @include flex($align-items: center);

    font-weight: var(--typography-medium);

    &:hover {
      color: var(--color-accent);
    }

    &:last-child {
      @include make-spacer('pb', 0);
      @include make-spacer('pb', 2, lg);
    }
  }

  &--left {

    .language {

      &__dropdown {
        left: 0;
      }

      &__wrapper {

        &:before {
          left: 15px;
        }
      }
    }
  }

  &--right {

    .language {

      &__dropdown {
        right: 0;
      }

      &__wrapper {

        &:before {
          right: 14px;
        }
      }
    }
  }
}
