.menu {
  @include make-spacer('m', 0);
  @include make-spacer('p', 0);

  display: none;
  position: absolute;
  top: calc(var(--navigation-height) - 15px);
  right: var(--grid-outher);
  background-color: var(--color-white);
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
  z-index: 13;
  width: 300px;

  &__item {
    @include make-spacer('mx', 6);
    @include make-spacer('my', 3);
    @include make-spacer('mx', 3, lg);

    position: relative;
    z-index: 1;

    &:hover {

      .submenu {
        display: block;
      }
    }

    i {
      @include make-spacer('ml', 1);
      @include font-size(12px);
    }
  }

  &__link {
    display: block;
    color: var(--color-text);

    @include media-breakpoint-up(lg) {
      color: var(--color-white);
    }
  }

  @include media-breakpoint-up(lg) {
    @include flex;

    position: static;
    flex-direction: row;
    background-color: transparent;
    opacity: 1;
    width: auto;
    border-radius: unset;
    box-shadow: unset;
  }

  &--active {
    @include flex($direction: column);

    @include media-breakpoint-up(lg) {
      @include flex($direction: row);
    }
  }

  .submenu {
    @include make-spacer('mt', 4);
    @include make-spacer('px', 2);
    @include make-spacer('pt', 0);

    @include make-spacer('mt', 0, lg);
    @include make-spacer('px', 0, lg);
    @include make-spacer('pt', 4, lg);

    display: none;

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    &__wrapper {
      @include make-spacer('px', 7, lg);
      @include make-spacer('py', 4, lg);

      position: relative;

      @include media-breakpoint-up(lg) {
        background-color: var(--color-white);
        border-radius: var(--default-border-radius);
        box-shadow: var(--default-box-shadow);
        width: 220px;
      }

      &:before {
        display: none;
        position: absolute;
        top: -14px;
        left: 50%;
        transform: translateX(-50%);
        border: 7px solid transparent;
        border-bottom: 10px solid var(--color-white);
        content: "";

        @include media-breakpoint-up(lg) {
          display: block;
        }
      }
    }

    &__item {
      @include make-spacer('py', 2);

      &:last-child {
        @include make-spacer('pb', 0);
        @include make-spacer('pb', 2, lg);
      }
    }

    &__link {
      font-weight: var(--typography-medium);

      &:hover {
        color: var(--color-accent);
      }
    }
  }
}
