mixin menu
  menu.menu&attributes(attributes)
    .menu__item
      a(href="./index.html").menu__link Home
    .menu__item
      a(href="./jobs.html").menu__link Jobs
    .menu__item
      a(href="./blog.html").menu__link Blog
    .menu__item
      a.menu__link
        | Pages
        i.fa.fa-angle-down
      .submenu
        .submenu__wrapper
          .submenu__item
            a(href="./local.html").submenu__link Local
          .submenu__item
            a(href="./classic.html").submenu__link Classic
          .submenu__item
            a(href="./company.html").submenu__link Company
          .submenu__item
            a(href="./job.html").submenu__link Job
    .menu__item
      a(href="./contact.html").menu__link Contact
