mixin section-employer-design
  section.section&attributes(attributes)
    .container-fluid
      .container
        .content
          +headline(
            'Дизайн',
            false,
            true
          )

          .options
            .options__item
              .options__grid
                div
                  .checked.js-checked
                    span.checked__title Колір фону
                div
                  .color
                    input(type="color").color__field
            .options__item
              .options__grid
                div
                  .checked.js-checked
                    span.checked__title Картинка зверху
                  .checked.js-checked
                    span.checked__title Логотип
                div
                  +file
                  +dropped-modal#dropped-modal
            .options__item
              .options__grid
                div
                  button.button.button--sm.button--primary.options__button
                    span.button__text Оновити на сайті
                div
                  p.options__text
                    | Щоб оновити дизайн, необхідно
                    a(href="http://localhost:8080/index.html#section-choose-plan").options__link замовити пакет послун «VIP-компанія».

          .tab.js-tab
            .tab__header
              a(data-link-tab="0").tab__link.tab__link--active.js-tab-link Сторінка вакансії
              a(data-link-tab="1").tab__link.js-tab-link Сторінка компанії
            .tab__body(data-body-tab="0").tab__body--active.js-tab-body
              +job
            .tab__body(data-body-tab="1").js-tab-body
              +company
