.previous-hand {
  @include make-spacer('px', 1);

  border-radius: var(--default-border-radius)!important;
  white-space: nowrap;

  span {
    color: var(--color-white);
    font-size: 14px!important;

    &:nth-child(1) {
      @include size(16px);
      @include make-spacer('mr', 1);

      @include media-breakpoint-up(lg) {
        display: none;
      }

      @include media-breakpoint-up(xl) {
        display: block;
      }
    }
  }

  &:hover {
    background-color: transparent!important;
    border-color: #e90000!important;

    span {
      color: #e90000;
    }
  }

  &--active {
    border-color: #e90000!important;
    background-color: #600;

    span {
      opacity: 0.8;
    }
  }
}
