.section {

  &--worker-hidden-jobs {
    background-color: var(--color-white);

    .content {
      @include make-spacer('mb', 6);
    }

    .cards {

      &__item {
        @include make-spacer('pb', 10);
        @include make-spacer('pb', 0, sm);
        @include make-spacer('pr', 10, sm);
        @include make-spacer('mb', 4);

        position: relative;
      }

      &__delete {
        @include flex(center, center);

        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 50px;
        background-color: var(--color-red);
        color: var(--color-white);
        border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
        border: 1px solid red;

        @include media-breakpoint-up(sm) {
          @include size(50px, auto);

          top: 0;
          left: auto;
          border-radius: 0 var(--default-border-radius) var(--default-border-radius) 0;
        }
      }

      &__footer {
        @include flex(center);
      }
    }
  }
}
