mixin section-worker-hidden-jobs
  section.section&attributes(attributes)
    .container-fluid
      .container
        .content
          +headline(
            "Приховані вакансії ",
            "У вас немає прихованих вакансій.",
            true
          ).headline--margin

        .cards
          each item, index in jobs
            .cards__item
              +card-job(item)(class=index === 0 && "card-job--disabled")
              button(type="button").cards__delete
                i.fa.fa-trash
          .cards__footer
            a(href="#").button.button--sm.button--primary
              span.button__text Завантажити більше
