mixin section-worker-resume-list
  section.section&attributes(attributes)
    .container-fluid
      .container
        .content
          +headline(
            'У вас поки що немає створених резюме',
            'Створіть резюме, щоб швидко та ефективно знайти хорошу роботу.',
            true
          )
          ul.list.list--default
            li.list__item
              p.text Ми допоможемо створити професійне резюме, яке відповідає сучасним вимогам.
            li.list__item
              p.text Вам буде зручно відгукуватися таким резюме на вакансії, а роботодавцям — одержувати його у звичному для них форматі.
            li.list__item
              p.text Навіть ті роботодавці, які не розміщують вакансії, зможуть знайти ваше резюме і запропонувати вам роботу.
          .actions
            a(href="#").button.button--sm.button--primary.actions__link
              span.button__text Створити резюме
            a(href="#").button.button--sm.button--secondary.actions__link
              span.button__text Завантажити файл з резюме

        +headline(
          'Мои резюме (1/5)',
          'Максимальна кількість 5 резюме'
        )
        .cards
          .cards__item
            +card-cv(true)
          .cards__item
            +card-cv(false).card-cv--disabled
          .cards__footer
            a(href="#").button.button--sm.button--primary
              span.button__text Створити нове резюме
