mixin section-employer-invoices
  section.section&attributes(attributes)
    .container-fluid
      .container
        +headline(
          'Рахунки',
          false,
          true
        )
        +card-invoice.js-card-invoice.card-invoice--done
        +card-invoice.js-card-invoice.card-invoice--active
