.section {

  &--employer-invoices {
    background-color: var(--color-white);

    .item {
      @include make-spacer('mb', 4);
      @include make-spacer('py', 4);
      @include make-spacer('px', 6);

      background-color: var(--color-white);
      box-shadow: var(--default-box-shadow);
      border-radius: var(--default-border-radius);
      overflow: hidden;

      &:last-child {
        @include make-spacer('mb', 0);
      }

      &--active {

        .item {

          &__status {
            color: var(--color-red);
          }
        }
      }

      &--done {

        .item {

          &__status {
            color: var(--color-green);
          }
        }
      }

      &__header {
        @include make-spacer('mb', 2);

        display: grid;
        grid-template-columns: 1fr 50px 200px 30px;
      }

      &__meta {
        @include flex($align-items: center);
      }

      &__id {
        @include make-spacer('mr', 2);

        color: var(--color-accent);
      }

      &__icon {
        @include flex(center, center);
        @include font-size(13px);
        @include size(20px);

        border-radius: 50%;
        color: var(--color-white);
        background-color: var(--color-grey-100);
      }

      &__price {

      }

      &__status {
      }
    }
  }
}
