---
title: Rekroot
lang: en
---
extends ../layouts/_layout

block content
  -
    var breadcrumbs = [
      {
        name: 'Home',
        url: './index.html'
      },
      {
        name: 'Blog',
        url: false
      }
    ]

  +nav.nav--default.js-nav
  main
    +section-breadcrumbs('Blog', breadcrumbs).section--breadcrumbs
    +section-posts.section--posts
    +section-subscribe-newsletter.section--subscribe-newsletter
