---
title: Rekroot
lang: en
---
extends ../layouts/_layout

block content
  -
    var breadcrumbs = [
      {
        name: 'Home',
        url: './index.html'
      },
      {
        name: 'Companies',
        url: '#'
      },
      {
        name: 'Rival Gaming',
        url: false
      }
    ]

  +nav.nav--default.js-nav
  main
    +section-breadcrumbs(false, breadcrumbs).section--breadcrumbs-sm
    +section-company.section--company
    +section-subscribe-newsletter.section--subscribe-newsletter
