---
title: Rekroot
lang: en
---
extends ../layouts/_layout

block content
  +nav.js-nav
  +header#header
  main
    +section-count.section--count
    +section-latest-startups.section--latest-startups
    +section-looking-hire.section--looking-hire
    +section-newest-listings.section--newest-listings
    +section-smart-solution.section--smart-solution
    +section-choose-plan.section--choose-plan#section-choose-plan
    +section-subscribe-newsletter.section--subscribe-newsletter
