---
title: SpaceShip
lang: en
---
extends ../layouts/_layout

block content
  main
    .page.js-page
      +nav
      .aside
        .aside__body
          .navigation.js-navigation
            +navigation-tab(['All bets', 'My Bets', 'Top']).js-navigation-tab
            .navigation-body(data-tab="all_bets").navigation-body--active.js-navigation-body
              .bet-table
                .bet-table__header
                  .bet-table__container
                    p.total-bets
                      span.total-bets-label Total bets:
                      span.total-bets-value
                    .js-previous-multiply
                    +previous-hand(type="button").button.button--outline.js-previous-hand
                  .bet-table__row
                    .bet-table__cell User
                    .bet-table__cell
                    .bet-table__cell Bet
                    .bet-table__cell Mult.
                    .bet-table__cell Cash out
                .bet-table__content.js-bet-table-stakes
                +previous-table.js-previous-table

            .navigation-body(data-tab="my_bets").js-navigation-body
              .bet-table.bet-table--custom
                .bet-table__header
                  .bet-table__row
                    .bet-table__cell Date
                    .bet-table__cell Bet
                    .bet-table__cell Mult.
                    .bet-table__cell Cash out
                .bet-table__content.js-bet-table-my-bets
            .navigation-body(data-tab="top").js-navigation-body
              .bet-table
                .bet-table__content(style="overflow: unset")
                  .navigation.js-navigation
                    +navigation-tab(['Huge Wins', 'Biggest Wins', 'Multipliers']).js-navigation-tab
                    .navigation-body(data-tab="huge_wins").navigation-body--active.js-navigation-body
                      .navigation.js-navigation
                        +navigation-sort(['Day', 'Month', 'Year']).js-navigation-sort
                        .navigation-body(data-tab="day").navigation-body--active.js-navigation-body.js-huge-wins-list
                    .navigation-body(data-tab="biggest_wins").js-navigation-body
                      .navigation.js-navigation
                        +navigation-sort(['Day', 'Month', 'Year']).js-navigation-sort
                        .navigation-body.navigation-body--active.js-navigation-body
                          .huge-win
                            .huge-win__cell
                              .huge-win__logo
                                img(src="https://aviator-demo.spribegaming.com/assets/static/avatars/v2/av-2.png?v=4.1.1").img
                              .huge-win__nickname d****5
                            .huge-win__cell
                              .huge-win__info
                                .huge-win__label Cashed out:
                                .huge-win__value
                                  span 22804.19
                                  span x
                              .huge-win__info
                                .huge-win__label Win:
                                .huge-win__value.huge-win__value--win
                                  span 22804.19
                                  span $
                              .huge-win__info
                                .huge-win__label Multiplier:
                                .huge-win__multiply
                                  span 600.00
                                  span x
                            .huge-win__cell
                              +bet-tooltip
                              +fairness.js-bet-multiply
                              +copy.js-bet-copy

                    .navigation-body(data-tab="multipliers").js-navigation-body
                      .navigation.js-navigation
                        +navigation-sort(['Day', 'Month', 'Year']).js-navigation-sort
                        .bet-item.bet-item--custom.bet-item--transparent
                          .bet-item__cell Date
                          .bet-item__cell Mult.
                          .bet-item__cell Fairness
                        .navigation-body.navigation-body--active.js-navigation-body
                          .bet-item.bet-item--custom
                            .bet-item__cell
                              .bet-item__date
                                span 04:10:13
                            .bet-item__cell
                              .bet-item__value
                                span 1060.67
                                span x
                            .bet-item__cell
                              +fairness.js-bet-multiply
                              +copy.js-bet-copy
        .aside__footer
          .aside__wrapper
            p This game is
            button.button.js-provably-fair
              .button__icon
                img(src="./img/icon/fairness.svg").img
              p Provably Fair
          p Powered by ...
      .content
        +bet-multiplies.js-bet-multiplies
        +game-window.js-game-window
        .bet-controls.js-bet-controls
      +chat.js-chat
      .popup.js-popup.js-popup-rules
        .popup__content
          .popup__wrapper
            .popup__head(style="background-color: #e69308")
              p How to play?
              a.popup__close.js-popup-close
                img(src="./img/icon/close.svg").img
            .popup__body(style="background-color: #f5a623")
              .popup__list(style="padding-left:0;padding-right:0;padding-bottom:0;")
                iframe(src="https://www.youtube.com/embed/PZejs3XDCSY?playsinline=1" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen).youtube-iframe
                .step
                  .step__id 01
                  .step__icon
                    img(src="./img/icon/how-playing-1.svg").img
                  .step__description Make a bet, or even two at same time and wait for the round to start.
                .step
                  .step__id 02
                  .step__icon
                    img(src="./img/icon/how-playing-2.svg").img
                  .step__description Look after the lucky plane. Your win is bet multiplied by a coefficient of lucky plane.
                .step
                  .step__id 03
                  .step__icon
                    img(src="./img/icon/how-playing-3.svg").img
                  .step__description Cash Out before plane flies away and money is yours!

            .popup__footer(style="background-color: #e69308")
              a(href="#").button.button--default.popup__button.js-popup-close Detailed rules
      .popup.js-popup.js-popup-provably-fair
        .popup__content
          .popup__wrapper
            .popup__head
              p What is provably fair?
            .popup__body
              .popup__list
                p 1
            .popup__footer
              button(type="button").button.button--outline.popup__button.js-popup-close Close

      .popup.js-popup.js-popup-bet
        .popup__content
          .popup__wrapper
            .popup__head
              p
                span ROUND N
                span.js-popup-bet-round
              .js-popup-bet-multiply(style="margin: 0 5px")
              p
                span.js-popup-bet-time
              a.popup__close.js-popup-close
                img(src="./img/icon/close.svg").img
            .popup__body
              .popup__list.js-popup-list
            .popup__footer
              button(type="button").button.button--outline.popup__button.js-popup-close Close

      .popup.popup--full.js-popup.js-popup-avatar
        .popup__content
          .popup__wrapper
            .popup__head
              p Choose Game avatar
              a.popup__close.js-popup-close
                img(src="./img/icon/close.svg").img
            .popup__body
              .popup__list
                .avatar-list
                  - var n = 1;
                  while n < 73
                    +avatar-logo(n++).js-avatar-logo
            .popup__footer
              button(type="button").button.button--outline.popup__button.js-popup-close Close

      .popup.js-popup.js-popup-autoplay
        .popup__content
          .popup__wrapper
            .popup__head
              p Auto play Options
              a.popup__close.js-popup-close
                img(src="./img/icon/close.svg").img
            .popup__body
              .popup__list.js-popup-list
            .popup__footer
              button(type="button").button.button--warning.popup__button.js-bet-auto-reset Reset
              button(type="button").button.button--success.popup__button.js-bet-auto-start Start
