---
title: SpaceShip
lang: en
---
extends ../layouts/_layout

block content
  main
    .page
      +nav
      .aside
        .aside__body
          .navigation.js-navigation
            +navigation-tab(['All bets', 'My Bets', 'Top']).js-navigation-tab
            .navigation-body(data-tab="all_bets").navigation-body--active.js-navigation-body
              .bet-table
                .bet-table__header
                  .bet-table__container
                    p.total-bets
                      span.total-bets-label Total bets:
                      span.total-bets-value
                    button(type="button").button.button--outline.previous-hand
                      span
                        img(src="./img/icon/history.svg").img
                      span Previous hand
                  .bet-table__row
                    .bet-table__cell User
                    .bet-table__cell Bet
                    .bet-table__cell Mult.
                    .bet-table__cell Cash out
                .bet-table__content.js-bet-table-stakes

            .navigation-body(data-tab="my_bets").js-navigation-body
              .bet-table
                .bet-table__header
                  .bet-table__row
                    .bet-table__cell Date
                    .bet-table__cell Bet
                    .bet-table__cell Mult.
                    .bet-table__cell Cash out
                .bet-table__content.js-bet-table-my-bets
            .navigation-body(data-tab="top").js-navigation-body
              .bet-table
                .bet-table__content(style="overflow: unset")
                  .navigation.js-navigation
                    +navigation-tab(['Huge Wins', 'Biggest Wins', 'Multipliers']).js-navigation-tab
                    .navigation-body(data-tab="huge_wins").navigation-body--active.js-navigation-body
                      .navigation.js-navigation
                        +navigation-tab(['Day', 'Month', 'Year']).js-navigation-tab.navigation-tab--disabled
                        .navigation-body(data-tab="day").navigation-body--active.js-navigation-body
                          .huge-win
                            .huge-win__cell
                              .huge-win__logo
                                img(src="https://aviator-demo.spribegaming.com/assets/static/avatars/v2/av-2.png?v=4.1.1").img
                              .huge-win__nickname d****5
                            .huge-win__cell
                              .huge-win__info
                                .huge-win__label Cashed out:
                                .huge-win__value.huge-win__value--cash
                                  span 22804.19
                                  span x
                              .huge-win__info
                                .huge-win__label Win:
                                .huge-win__value
                                  span 22804.19
                                  span $
                            .huge-win__cell
                              +bet-tooltip
                              +fairness.js-bet-multiply

                    .navigation-body(data-tab="biggest_wins").js-navigation-body
                      .navigation.js-navigation
                        +navigation-tab(['Day', 'Month', 'Year']).js-navigation-tab.navigation-tab--disabled
                        .navigation-body(data-tab="day").navigation-body--active.js-navigation-body
                          .huge-win
                            .huge-win__cell
                              .huge-win__logo
                                img(src="https://aviator-demo.spribegaming.com/assets/static/avatars/v2/av-2.png?v=4.1.1").img
                              .huge-win__nickname d****5
                            .huge-win__cell
                              .huge-win__info
                                .huge-win__label Cashed out:
                                .huge-win__value
                                  span 22804.19
                                  span x
                              .huge-win__info
                                .huge-win__label Win:
                                .huge-win__value.huge-win__value--win
                                  span 22804.19
                                  span $
                              .huge-win__info
                                .huge-win__label Multiplier:
                                .huge-win__multiply
                                  span 600.00
                                  span x
                            .huge-win__cell
                              +bet-tooltip
                              +fairness.js-bet-multiply

                    .navigation-body(data-tab="multipliers").js-navigation-body
                      .navigation.js-navigation
                        +navigation-tab(['Day', 'Month', 'Year']).js-navigation-tab.navigation-tab--disabled
                        .bet-item.bet-item--custom.bet-item--transparent
                          .bet-item__cell Date
                          .bet-item__cell Mult.
                          .bet-item__cell Fairness
                        .navigation-body(data-tab="day").navigation-body--active.js-navigation-body
                          .bet-item.bet-item--custom
                            .bet-item__cell
                              .bet-item__date
                                span 04:10:13
                            .bet-item__cell
                              .bet-item__value
                                span 1060.67
                                span x
                            .bet-item__cell
                              +fairness.js-bet-multiply
        .aside__footer
          .aside__wrapper
            p This game is
            button.button.js-provably-fair
              .button__icon
                img(src="./img/icon/fairness.svg").img
              p Provably Fair
          p Powered by ...
      .content
        +bet-multiplies.js-bet-multiplies
        +game-window.js-game-window
        .bet-controls.js-bet-controls


      .popup.js-popup.js-popup-provably-fair
        .popup__content
          .popup__wrapper
            .popup__head
              p What is provably fair?
            .popup__body
              .popup__list
                p 1
            .popup__footer
              button(type="button").button.button--outline.popup__button.js-popup-close Close

      .popup.js-popup.js-popup-bet
        .popup__content
          .popup__wrapper
            .popup__head
              p ROUND N1962993
              +bet-multiply(1.2)(style="margin: 0 5px")
              p 17:24:42
              a.popup__close.js-popup-close
                img(src="./img/icon/close.svg").img
            .popup__body
              .popup__list
                +bet-info
            .popup__footer
              button(type="button").button.button--outline.popup__button.js-popup-close Close

      .popup.popup--full.js-popup.js-popup-avatar
        .popup__content
          .popup__wrapper
            .popup__head
              p Choose Game avatar
              a.popup__close.js-popup-close
                img(src="./img/icon/close.svg").img
            .popup__body
              .popup__list
                .avatar-list
                  - var n = 1;
                  while n < 73
                    +avatar-logo(n++).js-avatar-logo
            .popup__footer
              button(type="button").button.button--outline.popup__button.js-popup-close Close

      .popup.js-popup.js-popup-autoplay
        .popup__content
          .popup__wrapper
            .popup__head
              p Auto play Options
              a.popup__close.js-popup-close
                img(src="./img/icon/close.svg").img
            .popup__body
              .popup__list.js-popup-list
            .popup__footer
              button(type="button").button.button--warning.popup__button.js-bet-auto-reset Reset
              button(type="button").button.button--success.popup__button.js-bet-auto-start Start
