---
title: SpaceShip
lang: en
---
extends ../layouts/_layout

block content
  main
    .page.js-page
      +nav
      +aside
      .content
        +bet-multiplies.js-bet-multiplies
        +game-window.js-game-window
        .bet-controls.js-bet-controls
      +chat.js-chat

      .notification.notification--sm.js-notification-copy
        .notification__container
          p.notification__text Copied for chat!

      .notification.js-notification-win
        .notification__container
          .notification__left
            p.notification__text You have cashed out!
            p.notification__value
              span 1.08
              span x
          .notification__center
            .notification__prize
              p.notification__text You got:
              p.notification__value
                span 1.08
                span $
          .notification__right
            a.notification__close.js-notification-close
              img(src="./img/icon/close.svg").img

      .popup.js-popup.js-popup-rules
        .popup__content
          .popup__wrapper
            .popup__head(style="background-color: #e69308")
              p How to play?
              a.popup__close.js-popup-close
                img(src="./img/icon/close.svg").img
            .popup__body(style="background-color: #f5a623")
              .popup__list(style="padding-left:0;padding-right:0;padding-bottom:0;")
                +how-play
            .popup__footer(style="background-color: #e69308")
              a(href="#").button.button--default.popup__button.js-popup-close Detailed rules
      .popup.popup--full.js-popup.js-popup-provably-fair
        .popup__content
          .popup__wrapper
            .popup__head
              p What is provably fair?
              a.popup__close.js-popup-close
                img(src="./img/icon/close.svg").img
            .popup__body
              .popup__list
                +probably-fair
      .popup.js-popup.js-popup-bet
        .popup__content
          .popup__wrapper
            .popup__head
              p
                span ROUND N
                span.js-popup-bet-round
              .js-popup-bet-multiply(style="margin: 0 5px")
              p
                span.js-popup-bet-time
              a.popup__close.js-popup-close
                img(src="./img/icon/close.svg").img
            .popup__body
              .popup__list.js-popup-list
            .popup__footer
              button(type="button").button.button--outline.popup__button.js-popup-close Close

      .popup.popup--full.js-popup.js-popup-avatar
        .popup__content
          .popup__wrapper
            .popup__head
              p Choose Game avatar
              a.popup__close.js-popup-close
                img(src="./img/icon/close.svg").img
            .popup__body
              .popup__list
                .avatar-list
                  - var n = 1;
                  while n < 73
                    +avatar-logo(n++).js-avatar-logo
            .popup__footer
              button(type="button").button.button--outline.popup__button.js-popup-close Close

      .popup.js-popup.js-popup-autoplay
        .popup__content
          .popup__wrapper
            .popup__head
              p Auto play Options
              a.popup__close.js-popup-close
                img(src="./img/icon/close.svg").img
            .popup__body
              .popup__list.js-popup-list
            .popup__footer
              button(type="button").button.button--warning.popup__button.js-bet-auto-reset Reset
              button(type="button").button.button--success.popup__button.js-bet-auto-start Start
