---
title: SpaceShip
lang: en
---
extends ../layouts/_layout

block content
  main
    .page
      +popup.js-popup.js-popup-avatar
      +nav
      .aside
        +navigation-tab.js-navigation-tab
        .bet-table
          .bet-table__header
            .bet-table__row
              .bet-table__cell User
              .bet-table__cell Bet
              .bet-table__cell Mult.
              .bet-table__cell Cash out

          .bet-table__content
            - var n = 1;
              while n < 73
                .bet-item(class=n === 2 ? 'bet-item--win' : '')
                  .bet-item__cell
                    .bet-item__logo
                      img(src=`https://aviator-demo.spribegaming.com/assets/static/avatars/v2/av-${n++}.png?v=4.1.1`).img
                  .bet-item__cell
                    .bet-item__name d****1
                  .bet-item__cell
                    .bet-item__value
                      span 100.00
                      span $
                  .bet-item__cell
                    .bet-item__multiply
                      span 1.45x
                      span x
                  .bet-item__cell
                    .bet-item__cash
                      span 100.00
                      span $

          .bet-table__footer
            p Footer

      .content
        .bet-multiplies.js-multiplies
          .bet-multiplies__header Round History
          button(type="button").bet-multiplies__button.js-multiplies-button
            svg(xmlns='http://www.w3.org/2000/svg' width='15' height='14' viewBox='0 0 15 14')
              path(fill='#FFF' fill-rule='nonzero' d='M7.993.669c-2.45 0-4.62 1.33-5.74 3.36l-1.61-1.61v4.55h4.55l-1.96-1.96c.91-1.75 2.66-2.94 4.76-2.94 2.87 0 5.25 2.38 5.25 5.25s-2.38 5.25-5.25 5.25c-2.31 0-4.2-1.47-4.97-3.5h-1.47c.77 2.8 3.36 4.9 6.44 4.9 3.71 0 6.65-3.01 6.65-6.65 0-3.64-3.01-6.65-6.65-6.65zm-1.05 3.5v3.57l3.29 1.96.56-.91-2.8-1.68v-2.94h-1.05z')
            svg(xmlns='http://www.w3.org/2000/svg' width='10px' height='8px' viewBox='0 0 10 8' )
              g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.600000024')
                g(transform='translate(-554.000000, -425.000000)' fill='#9DA1AD')
                  path(d='M556.849422,424.622293 L560.777597,424.360414 C561.87972,424.286939 562.832731,425.120823 562.906205,426.222946 C562.912112,426.31154 562.912112,426.400429 562.906205,426.489023 L562.644327,430.417198 C562.570852,431.519321 561.617842,432.353205 560.515719,432.27973 C560.032345,432.247505 559.577098,432.040929 559.234543,431.698374 L555.568246,428.032076 C554.787197,427.251028 554.787197,425.984698 555.568246,425.203649 C555.910801,424.861094 556.366048,424.654517 556.849422,424.622293 Z' transform='translate(559.133295, 428.133295) rotate(-225.000000) translate(-559.133295, -428.133295) ')
          .bet-multiplies__body
            .bet-multiplies__list.js-multiplies-list
              - var n = 0;
                while n < 73
                  .bet-multiplies__item
                    .bet-multiply= `1${n++}x`
        .game-window
        .bet-controls
          +bet-control.bet-control--single.js-bet-control
          +bet-control.bet-control--twice.js-bet-control
