---
title: SpaceShip
lang: en
---
extends ../layouts/_layout

block content
  main
    .page
      +nav
      .aside
        +navigation-tab.js-navigation-tab
        .bet-table
          .bet-table__header
            .bet-table__row
              .bet-table__cell User
              .bet-table__cell Bet
              .bet-table__cell Mult.
              .bet-table__cell Cash out

          .bet-table__content
            - var n = 1;
              while n < 73
                .bet-item(class=n === 2 ? 'bet-item--win' : '')
                  .bet-item__cell
                    .bet-item__logo
                      img(src=`https://aviator-demo.spribegaming.com/assets/static/avatars/v2/av-${n++}.png?v=4.1.1`).img
                  .bet-item__cell
                    .bet-item__name d****1
                  .bet-item__cell
                    .bet-item__value
                      span 100.00
                      span $
                  .bet-item__cell
                    .bet-item__multiply
                      span 1.45x
                      span x
                  .bet-item__cell
                    .bet-item__cash
                      span 100.00
                      span $

          .bet-table__footer
            p Footer

      .content
        +bet-multiplies.js-bet-multiplies
        +game-window.js-game-window
        .bet-controls.js-bet-controls


      .popup.popup--full.js-popup.js-popup-avatar
        .popup__content
          .popup__wrapper
            .popup__head
              p Choose Game avatar
              a.popup__close.js-popup-close
                svg(xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 371.23 371.23' style='enable-background:new 0 0 371.23 371.23;' xml:space='preserve')
                  polygon(points='371.23,21.213 350.018,0 185.615,164.402 21.213,0 0,21.213 164.402,185.615 0,350.018 21.213,371.23   185.615,206.828 350.018,371.23 371.23,350.018 206.828,185.615 ')
            .popup__body
              .popup__list
                .avatar-list
                  - var n = 1;
                  while n < 73
                    a.avatar-logo.js-avatar-logo
                      img(src=`https://aviator-demo.spribegaming.com/assets/static/avatars/v2/av-${n++}.png?v=4.1.1`).img
            .popup__footer
              button(type="button").button.button--outline.popup__button.js-popup-close Close

      .popup.js-popup.js-popup-autoplay
        .popup__content
          .popup__wrapper
            .popup__head
              p Auto play Options
              a.popup__close.js-popup-close
                svg(xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 371.23 371.23' style='enable-background:new 0 0 371.23 371.23;' xml:space='preserve')
                  polygon(points='371.23,21.213 350.018,0 185.615,164.402 21.213,0 0,21.213 164.402,185.615 0,350.018 21.213,371.23   185.615,206.828 350.018,371.23 371.23,350.018 206.828,185.615 ')
            .popup__body
              .popup__list.js-popup-list
            .popup__footer
              button(type="button").button.button--warning.popup__button Reset
              button(type="button").button.button--success.popup__button Start
