mixin bet-tooltip
  .bet-tooltip&attributes(attributes)
    .bet-tooltip__alert
      .bet-tooltip__container
        .bet-tooltip__label Date
        .bet-tooltip__value 15 Oct
      .bet-tooltip__container
        .bet-tooltip__label Round
        .bet-tooltip__value 285.47x
      .bet-tooltip__container
        .bet-tooltip__label Bet
        .bet-tooltip__value 44.13$
    .bet-tooltip__icon
      img(src="./img/icon/info.svg").img
