.bet-tooltip {
  position: relative;

  &:hover {

    .bet-tooltip {

      &__alert {
        display: block;
      }
    }
  }

  &__icon {
    @include make-spacer('mx', auto);
    @include size(14px, 16px);

    display: block;
    position: relative;
    cursor: pointer;

    svg {
      @include size(100%);

      display: block;
    }
  }

  &__alert {
    @include make-spacer('p', 1);

    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: var(--color-black);
    transform: translateX(calc(-100% - 15px));
    border-radius: 5px;
    border: 1px solid #363738;
    min-width: 120px;
    font-size: 11px;
    white-space: nowrap;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__label {
    color: #7b7b7b;
  }

  &__value {
    color: var(--color-white);
    text-align: right;
  }
}
