.headline {
  @include make-spacer('mb', 12);

  &__wrapper {
    @include flex($align-items: center);

    & > * {
      @include make-spacer('mr', 1);
    }
  }

  &__text {
    @include make-spacer('mt', 3);
  }

  &__text {
    color: #747474;
  }

  &--margin {
    margin: 0!important;
  }

  &--white {

    .headline {

      &__title,
      &__text {
        color: var(--color-white);
      }
    }
  }
}
