mixin section-worker-resume-create
  section.section&attributes(attributes)
    .container-fluid
      .container
        .content
          .card-create.js-card-create
            .card-create__container
              h4.card-create__title
                span Name Surname
                +info
              a.card-create__link.js-card-create-link
                i.fa.fa-pen
                span Редагувати
              .card-create__toggle(style="display: block").js-card-create-toggle
                .card-create__wrapper
                  +file
                  +dropped-modal#dropped-modal
                .card-create__wrapper.card-create__wrapper--error
                  .card-create__label
                    span Дата народження
                    strong *
                  .card-create__grid.card-create__grid--3
                    .card-create__column
                      +select(date).card-create__select.js-select
                    .card-create__column
                      +select(month).card-create__select.js-select
                    .card-create__column
                      +select(year).card-create__select.js-select
                  p.card-create__error Будь ласка, виберіть дата народження
                .card-create__wrapper
                  .card-create__label
                    span Місто проживання
                    strong *
                  input(type="text").card-create__field
                  p.card-create__error Будь ласка, вкажіть місто проживання
                .card-create__wrapper
                  .card-create__actions
                    button.button.button--sm.button--primary.card-create__button.js-card-create-apply
                      span.button__text Зберегти
                    a.card-create__link.card-create__link--warning.js-card-create-cancel Скасувати

          .card-create.js-card-create
            .card-create__container
              h4.card-create__title
                span Контактна інформация
                +info
              a.card-create__link.js-card-create-link
                i.fa.fa-pen
                span Редагувати
              .card-create__toggle.js-card-create-toggle
                .card-create__wrapper
                  .card-create__label
                    span Телефон:
                    strong *
                  input(type="text").card-create__field
                .card-create__wrapper
                  .card-create__label
                    span Ел. пошта:
                    strong *
                  input(type="email").card-create__field
                .card-create__wrapper
                  .card-create__label
                    span Соціальні мережі:
                  input(type="type" placeholder="Facebook, Instagram чи Linkedin").card-create__field
                .card-create__wrapper
                  a.card-create__link.card-create__link--default Додати посилання
                .card-create__wrapper
                  .card-create__social
                    span https://www.linkedin.com/in/ihor-tereshchenko/
                    a.card-create__icon
                      i.fa.fa-times
                  .card-create__social
                    span https://www.linkedin.com/in/ihor-tereshchenko/
                    a.card-create__icon
                      i.fa.fa-times
                .card-create__wrapper
                  .card-create__actions
                    button.button.button--sm.button--primary.card-create__button.js-card-create-apply
                      span.button__text Зберегти
                    a.card-create__link.card-create__link--warning.js-card-create-cancel Скасувати

          .card-create.js-card-create
            .card-create__container
              h4.card-create__title
                span Бажана професія
                +info
              a.card-create__link.js-card-create-link
                i.fa.fa-pen
                span Редагувати
              .card-create__toggle.js-card-create-toggle
                .card-create__wrapper
                  .card-create__label
                    span Бажана вакансія
                    strong *
                  input(type="text").card-create__field
                  p.card-create__error Будь ласка, виберіть вакансію
                .card-create__wrapper
                  .card-create__label
                    span Тип зайнятості
                    strong *
                  +select(jobType).card-create__select.js-select
                  p.card-create__error Будь ласка, виберіть тип зайнятості
                .card-create__wrapper
                  .card-create__label
                    span Заробітня плата
                    strong *
                  .card-create__grid.card-create__grid--2
                    .card-create__column
                      input(type="text").card-create__field
                    .card-create__column
                      +select(moneyType).card-create__select.js-select
                  p.card-create__error Будь ласка, вкажіть заробітню плату
                .card-create__wrapper
                  .card-create__actions
                    button.button.button--sm.button--primary.card-create__button.js-card-create-apply
                      span.button__text Зберегти
                    a.card-create__link.card-create__link--warning.js-card-create-cancel Скасувати

          .card-create.js-card-create
            .card-create__container
              h4.card-create__title
                span Володіння мовами
                +info
              a.card-create__link.js-card-create-link
                i.fa.fa-pen
                span Редагувати
              .card-create__toggle.js-card-create-toggle
                .card-create__wrapper
                  .card-create__label
                    span Мови:
                  +select(languageType).card-create__select.js-select
                .card-create__wrapper
                  .card-create__label
                    span Рівень:
                  +select(languageLevel).card-create__select.js-select
                .card-create__wrapper
                  a.card-create__link.card-create__link--default Додати мову
                .card-create__wrapper
                  .card-create__social
                    span Англійска (середній рівень)
                    a.card-create__icon
                      i.fa.fa-times
                  .card-create__social
                    span Українска (рідна)
                    a.card-create__icon
                      i.fa.fa-times
                .card-create__wrapper
                  .card-create__actions
                    button.button.button--sm.button--primary.card-create__button.js-card-create-apply
                      span.button__text Зберегти
                    a.card-create__link.card-create__link--warning.js-card-create-cancel Скасувати
