mixin section-job
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
            .job
              .job__header
                .job__logo
                  img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/04/logo8-150x150.png").img
                div
                  h3.job__title E-Commerce Web Designer
                  .job__meta
                    p.job__name Rival Gaming
                    p.job__posted Posted 11 months ago
                    a(href="#").job__link Frontend Development IT Consulting

              .job__image
                img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2019/01/Jobster_Listing_Single_03-1540x370.jpg").img

              .job__wrapper
                h4.job__title Description
                p A friendly multi-disciplinary practice have just been awarded an exciting Residential and Commercial project and are now looking for the right Architectural Technician or Architectural Assistant to join their friendly team in Hertfordshire.
                br
                p This is an ideal opportunity for any technical Architectural Assistants and Technicians/ Technologists looking to work for a growing practice and be heavily involved in all aspects with long term career progression.

              .job__wrapper
                h4.job__title Duties & Responsibilities
                ul.list.list--default
                  li.list__item
                    p Ability to write code – HTML & CSS (SCSS flavor of SASS preferred when writing CSS)
                  li.list__item
                    p Proficient in Photoshop, Illustrator, bonus points for familiarity with Sketch (Sketch is our preferred concepting)
                  li.list__item
                    p Cross-browser and platform testing as standard practice
                  li.list__item
                    p Experience using Invision a plus
                  li.list__item
                    p Experience in video production a plus or, at a minimum, a willingness to learn

              .job__wrapper
                h4.job__title Skills & Experience
                ul.list.list--default
                  li.list__item
                    p Advanced degree or equivalent experience in graphic and web design3 or more years of professional design experience
                  li.list__item
                    p Direct response email experience
                  li.list__item
                    p Ecommerce website design experience
                  li.list__item
                    p Familiarity with mobile and web apps preferred
                  li.list__item
                    p Excellent communication skills, most notably a demonstrated ability to solicit and address creative and design feedback
                  li.list__item
                    p Must be able to work under pressure and meet deadlines while maintaining a positive attitude and providing exemplary customer service
                  li.list__item
                    p Ability to work independently and to carry out assignments to completion within parameters of instructions given, prescribed routines, and standard accepted practices

              .job__wrapper
                h4.job__title Benefits
                p Company is a 2016 Iowa City-born start-up that develops consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.

              .job__footer
                +button('Apply for job').button--primary.job__button
                .job__expires
                  i.fa.fa-clock
                  div
                    p Application ends on
                    strong August 18, 2023

          .grid__column
            .job-widget
              p.job-widget__text Job ID: 2535
              +button('Apply for job').button--primary.job-widget__button
              .job-widget__options
                button.job-widget__option
                  i.fa.fa-plus
                  span Save
                button.job-widget__option
                  i.fa.fa-print
                  span Print
                button.job-widget__option
                  i.fa.fa-envelope
                  span Email
              p.job-widget__date Application ends on August 18, 2023

            +overview

            .job-contact
              .job-contact__header
                .job-contact__image
                  img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/03/pexels-cadeau-maestro-1170412-scaled-2-740x254.jpeg").img
                .job-contact__logo
                  img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/04/logo8-150x150.png").img
              .job-contact__body
                h4.job-contact__title Rival Gaming
                p.job-contact__subtitle Living by Playing
                .job-contact__item
                  i.fa.fa-location-arrow
                  span Montreal
                .job-contact__item
                  i.fa.fa-globe
                  a(href="#") https://nobcompany.com
                .job-contact__item
                  i.fa.fa-phone
                  a(href="#") +78 099 334 34
                .job-contact__item
                  i.fa.fa-envelope
                  a(href="#") rival@themes.zone
                .job-contact__item
                  i.fab.fa-twitter
                  a(href="#") @rivalgames

            .map
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5078.008852243826!2d30.52649543096001!3d50.47826131791681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce1893f4689b%3A0x8a879074f7883f32!2z0KDRi9Cx0LDQu9GM0YHQutC40Lkg0L7RgdGC0YDQvtCyLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1653569660841!5m2!1sru!2sua' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
