mixin section-job
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
            +job

          .grid__column
            .job-widget
              p.job-widget__text Job ID: 2535
              +button('Apply for job').button--primary.job-widget__button
              .job-widget__options
                button.job-widget__option
                  i.fa.fa-plus
                  span Save
                button.job-widget__option
                  i.fa.fa-print
                  span Print
                button.job-widget__option
                  i.fa.fa-envelope
                  span Email
              p.job-widget__date Application ends on August 18, 2023

            +overview

            .job-contact
              .job-contact__header
                .job-contact__image
                  img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/03/pexels-cadeau-maestro-1170412-scaled-2-740x254.jpeg").img
                .job-contact__logo
                  img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/04/logo8-150x150.png").img
              .job-contact__body
                h4.job-contact__title Rival Gaming
                p.job-contact__subtitle Living by Playing
                .job-contact__item
                  i.fa.fa-location-arrow
                  span Montreal
                .job-contact__item
                  i.fa.fa-globe
                  a(href="#") https://nobcompany.com
                .job-contact__item
                  i.fa.fa-phone
                  a(href="#") +78 099 334 34
                .job-contact__item
                  i.fa.fa-envelope
                  a(href="#") rival@themes.zone
                .job-contact__item
                  i.fab.fa-twitter
                  a(href="#") @rivalgames

            .map
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5078.008852243826!2d30.52649543096001!3d50.47826131791681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce1893f4689b%3A0x8a879074f7883f32!2z0KDRi9Cx0LDQu9GM0YHQutC40Lkg0L7RgdGC0YDQvtCyLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1653569660841!5m2!1sru!2sua' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
