.radio {
  @include make-spacer('pl', 5);
  @include flex($align-items: center);

  position: relative;
  cursor: pointer;

  &__input {
    @include size(0);

    position: absolute;
    opacity: 0;

    &:checked ~ .radio {

      &__item {
        background-color: var(--color-accent);

        &::after {
          @include size(12px);

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          background-color: var(--color-white);
          content: '';
        }
      }
    }
  }

  &__item {
    @include size(18px);

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: var(--default-transition);
    border-radius: 50%;
    background-color: var(--color-grey-100);
    margin-top: -2px;
  }
}
