.menu {
  @include make-spacer('m', 0);
  @include make-spacer('p', 0);

  display: none;
  position: absolute;
  top: 50px;
  right: var(--grid-outher);
  background-color: #383A3E;
  border-radius: 6px;
  box-shadow: 10px 10px 20px var(--color-black);
  overflow: hidden;
  width: 270px;

  &__item {
    @include flex(space-between, center);

    position: relative;
    border-bottom: solid 1px rgba(255, 255, 255, 0.07);

    &:last-child {
      border-bottom: 0;
    }

    .switch {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }

  &__link {
    @include make-spacer('px', 3);
    @include make-spacer('py', 2);
    @include flex($align-items: center);

    background-color: #2c2d30;
    flex: 1;
    font-size: 13px;
    color: #bebebe;

    &--last {
      justify-content: center;
      background-color: transparent;
    }

    &:hover,
    &--active {
      background-color: #191b1d;
    }

    svg {
      @include make-spacer('mr', 2);
    }
  }

  &__divider {
    @include size(0);
    border: 0;
  }

  &__header {
    @include make-spacer('px', 3);
    @include make-spacer('py', 2);

    display: grid;
    grid-template-columns: 40px 1fr 80px;
    grid-gap: 10px;
    align-items: center;
  }

  &__nickname {
    color: var(--color-white);
  }

  &__avatar {
    display: grid;
    grid-template-columns: 20px 1fr;
    column-gap: 5px;
    align-items: center;
    line-height: 1.14;
    font-size: 11px;
    color: #83878e;

    g {
      transition: var(--default-transition);
    }

    &:hover {
      color: var(--color-white);

      g {
        fill: var(--color-white);
      }
    }
  }

  &__logo {
    @include size(40px);

    border-radius: 50%;
    overflow: hidden;
    background-color: #191b1d;
  }

  &--active {
    display: block;
  }
}
