.section {

  &--employer-account {
    background-color: var(--color-white);

    .card {
      @include make-spacer('mb', 4);
      @include make-spacer('p', 4);

      background-color: var(--color-white);
      box-shadow: var(--default-box-shadow);
      border-radius: var(--default-border-radius);

      &:last-child {
        @include make-spacer('mb', 0);
      }

      &__toggle {
        @include make-spacer('mt', 4);

        display: none;
      }

      &__title {
        @include make-spacer('mb', 4);
        @include flex($align-items: center);
      }

      &__column {
        @include make-spacer('my', 2);

        @include media-breakpoint-up(sm) {
          display: grid;
          grid-template-columns: minmax(150px, 1fr) 1fr;
        }
      }

      &__text {
        color: #747474;
      }

      &__value {
        @include flex($align-items: center);

        &--column {
          align-items: flex-start;
          flex-direction: column;
        }
      }

      &__social {
        @include make-spacer('mb', 1);

        color: var(--color-accent);

        i {
          @include font-size(18px);
          @include make-spacer('mr', 1);
        }

        &:last-child {
          @include make-spacer('mb', 0);
        }
      }

      &__link {
        @include make-spacer('mt', 4);
        @include flex($align-items: center);

        color: var(--color-accent);

        i {
          @include make-spacer('mr', 1);
        }
      }
    }

    .card-change {

      &__section {
        @include make-spacer('mb', 8);
      }

      &__social,
      &__radio {
        @include make-spacer('my', half);
      }

      &__wrapper {
        @include make-spacer('mb', 4);

        &--error {

          .card-change {

            &__error {
              display: block;
            }

            &__field {
              border-color: var(--color-red);
            }
          }

          .select {

            &__label {
              border-color: var(--color-red);
            }
          }
        }
      }

      &__container {
        @include flex($align-items: center, $wrap: wrap);

        & > * {
          @include make-spacer('mr', 2);
        }
      }

      &__field {
        @include size(100%, 45px);
        @include make-spacer('px', 3);

        border: 1px solid var(--color-grey-100);
        border-radius: 3px;
        background-color: var(--color-white);
        box-shadow: var(--default-box-shadow);
      }

      &__actions {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-gap: 20px;

        @include media-breakpoint-up(sm) {
          grid-template-columns: repeat(2, 150px);
        }
      }

      &__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;

        @include media-breakpoint-up(sm) {
          grid-template-columns: 1fr 2fr 1fr;
        }
      }

      &__label {
        @include make-spacer('mb', 2);

        strong {
          @include make-spacer('ml', 1);

          color: var(--color-red);
        }
      }

      &__error {
        @include make-spacer('mt', 1);
        @include font-size(12px);

        display: none;
        color: var(--color-red);
      }

      &__title {
        @include font-size(20px);
        @include make-spacer('mb', 4);

        font-weight: var(--typography-semibold);
      }

      &__social {
        display: grid;
        grid-template-columns: 1fr 20px;
        grid-gap: 10px;

        span {
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          text-decoration: underline;
        }
      }

      &__icon {
        text-align: right;
        color: var(--color-accent);

        &:hover {
          color: var(--color-red);
        }
      }

      &__link {

        &--default {
          color: var(--color-accent);
        }

        &--warning {
          color: var(--color-red);
        }

        &:hover {
          text-decoration: underline;
        }
      }

      &__hr {
        @include make-spacer('my', 4);

        display: block;
        border: 0;
        background-color: var(--color-grey-100);
        height: 1px;
      }
    }
  }
}
