mixin section-employer-main
  section.section&attributes(attributes)
    .container-fluid
      .container
        +alert(1).alert--danger
        +alert(2).alert--warning
        +alert(2).alert--success
        +card-post-job
        .grid
          .grid__column
            a(href="./employer/jobs.html").item
              span.item__icon.fa.fa-file-alt
              span.item__text Мої вакансії та кандидати
          .grid__column
            a(href="./employer/search-agents.html").item
              span.item__icon.fa.fa-envelope
              span.item__text Розсилка нових кандидатів
              span.item__count 4
          .grid__column
            a(href="./employer/services.html").item
              span.item__icon.fa.fa-calculator
              span.item__text Послуги та рахунки
          .grid__column
            a(href="./employer/company.html").item
              span.item__icon.fa.fa-building
              span.item__text Інформація про компанію
          .grid__column
            a(href="./employer/design.html").item
              span.item__icon.fa.fa-pencil-ruler
              span.item__text Дизайн
          .grid__column
            a(href="./employer/account.html").item
              span.item__icon.fa.fa-user
              span.item__text Особисті дані
          .grid__column
            a(href="./employer/users.html").item
              span.item__icon.fa.fa-users
              span.item__text Користувачі
          .grid__column
            a(href="./employer/events.html").item
              span.item__icon.fa.fa-calendar-alt
              span.item__text Журнал подій
              span.item__count 12
          .grid__column
            a(href="#").item
              span.item__icon.fa.fa-arrow-right
              span.item__text Вийти
