mixin section-company
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
            +company

            .open-positions
              .open-positions__title
                +headline('Open Positions')
              each item, index in jobs
                .open-positions__item
                  +card-job(item, true)(class=index === 0 && "card-job--active")

            .reviews
              .reviews__title
                +headline('Reviews for Rival Gaming (0)')
              .reviews__list
                .reviews__item
                  .review
                    .review__column
                      .review__image
                        img(src="https://secure.gravatar.com/avatar/2bc37997317445ccbfeb8fcb5887233f?s=60&d=mm&r=g")
                    .review__column
                      .review__meta
                        a(href="#").review__author admin
                        p.review__date 1 years ago
                      .review__rate
                        +rate(4)
                      p.review__subtitle Excelent
                      p.review__text Fusce vel nisi tellus. Curabitur velit mauris, sollicitudin at pharetra non, ornare et quam. Nulla non justo tortor. Suspendisse ac nulla lectus. Nam mi nibh, tristique vitae nulla ac, placerat porta tellus. Vestibulum vitae mauris nec nisi dictum tempus. Praesent tempus malesuada ex. Vestibulum faucibus facilisis nulla nec consequat.
              .reviews__form
                +leave-review

          .grid__column
            +overview

            .company-contact
              .company-contact__header
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5078.008852243826!2d30.52649543096001!3d50.47826131791681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce1893f4689b%3A0x8a879074f7883f32!2z0KDRi9Cx0LDQu9GM0YHQutC40Lkg0L7RgdGC0YDQvtCyLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1653569660841!5m2!1sru!2sua' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
              .company-contact__body
                h4.company-contact__title Contact Information
                .company-contact__item
                  strong Phone:
                  a(href="#") +78 099 334 34
                .company-contact__item
                  strong Email:
                  a(href="#") rival@themes.zone
                .company-contact__item
                  strong Website:
                  a(href="#") https://nobcompany.com
                .company-contact__item
                  strong Address:
                  p Montreal

            +contact-us
