.bet-item {
  @include make-spacer('mb', half);

  display: grid;
  grid-template-columns: 30px 1fr repeat(3, minmax(50px, 1fr));
  align-items: center;
  column-gap: 5px;
  background: linear-gradient(85deg, var(--color-black), #0f1214);
  border: 2px solid var(--color-black);
  border-radius: 5px;
  padding-left: 1px;
  height: 34px;
  font-size: 14px;
  color: var(--color-white);

  .copy,
  .fairness {
    margin: 0 2.5px;
    flex-shrink: 0;
  }

  &:last-child {
    @include make-spacer('mb', 0);
  }

  &__value,
  &__cash,
  &__multiply {

    span {

      &:last-child {
        font-size: 9px;
      }
    }
  }

  &__value,
  &__multiply {
    border-radius: 5px;
    text-align: center;
  }

  &__multiply {
    @include make-spacer('px', 1);
    @include make-spacer('mx', auto);

    width: fit-content;
    white-space: nowrap;
  }

  &__logo {
    @include size(30px);

    background-color: var(--color-gray);
    border-radius: 50%;
    overflow: hidden;
  }

  &__cell {
    text-align: center;

    &:nth-child(2) {
      text-align: left;
    }

    &:last-child {
      @include flex(center, center);
    }
  }

  &__value {
    border: 1px solid #5e6168;
  }

  &--won {
    border: 1px solid #427F00;
    background: #123406;

    .bet-item {

      &__value {
        border: 0;
      }
    }
  }

  &--custom {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

    font-size: 12px;

    .bet-item {

      &__value {
        border: 0;
      }
    }
  }

  &--transparent {
    @include make-spacer('px', 1);
    @include make-spacer('py', 1);

    background: unset;
    border: 0;
    font-size: 11px;
    color: #7b7b7b;

    .bet-item {

      &__cell {
        text-align: center;
      }
    }
  }
}
