mixin section-worker-apply-history
  section.section&attributes(attributes)
    .container-fluid
      .container
        .content
          +headline(
            'Історія відгуків',
            'Тут зібрані всі вакансії, на які ви відгукалися за останні 6 місяців.',
            true
          )
          p.text
            span Спробуйтe
            a(href="#") знайти вакансії
            span і відгукнутися, щоб цей розділ не виглядав таким порожнім.
