.section {

  &--worker-apply-history {
    background-color: var(--color-white);

    .content {
      @include make-spacer('mb', 6);
    }

    .headline {
      @include make-spacer('mb', 4);
    }

    .text {

      a {
        @include make-spacer('mx', 1);

        color: var(--color-accent);
      }
    }
  }
}
