mixin section-worker-delete-agents
  section.section&attributes(attributes)
    .container-fluid
      .container
        .content
          +headline(
            'Видалені пошуки',
            'У вас немає пошуків, які були видалені протягом останніх 40 днів.',
            true
          )

          .cards
            .cards__item
              +card-search(false).js-card-search
            .cards__item
              +card-search(false).js-card-search
            .cards__item
              +card-search(false).js-card-search

          a(href="./worker/search-agents.html").button.button--sm.button--primary.button-back
            span.button__text Назад до списку пошуків
