.section {

  &--worker-delete-agents {
    background-color: var(--color-white);

    .content {
      @include make-spacer('mb', 6);
    }

    .headline {
      @include make-spacer('mb', 4);
    }

    .cards {
      @include make-spacer('mb', 6);

      &__item {
        @include make-spacer('mb', 4);

        position: relative;

        &:last-child {
          @include make-spacer('mb', 0);
        }
      }
    }

    .button-back {
      max-width: 300px;
    }
  }
}
