include header/_index
include footer/_index

include section-posts/_index
include section-get-in-touch/_index
include section-breadcrumbs/_index
include section-count/_index
include section-latest-startups/_index
include section-newest-listings/_index
include section-looking-hire/_index
include section-smart-solution/_index
include section-choose-plan/_index
include section-subscribe-newsletter/_index
include section-jobs/_index
include section-search-jobs/_index
include section-popular-industries/_index
include section-latest-listings/_index
include section-hiring-companies/_index
include section-mobile-app/_index
include section-career-advice/_index
include section-testimonials/_index
include section-header/_index
include section-content/_index
include section-popular-categories/_index
include section-about/_index
include section-local/_index
include section-job/_index
include section-company/_index


include section-jobseeker/_index
include section-resumes/_index
include section-viewers/_index
include section-company-list/_index
include section-account-jobseeker/_index
