@import 'header/index';
@import 'footer/index';

@import "section-posts/index";
@import 'section-get-in-touch/index';
@import 'section-breadcrumbs/index';
@import 'section-count/index';
@import 'section-latest-startups/index';
@import 'section-newest-listings/index';
@import 'section-looking-hire/index';
@import 'section-smart-solution/index';
@import 'section-choose-plan/index';
@import 'section-subscribe-newsletter/index';
@import 'section-jobs/index';
@import 'section-search-jobs/index';
@import 'section-popular-industries/index';
@import 'section-latest-listings/index';
@import 'section-hiring-companies/index';
@import 'section-mobile-app/index';
@import 'section-career-advice/index';
@import 'section-testimonials/index';
@import 'section-header/index';
@import 'section-content/index';
@import 'section-popular-categories/index';
@import 'section-about/index';
@import 'section-local/index';
@import 'section-job/index';
@import 'section-company/index';


@import 'section-jobseeker/index';
@import 'section-resumes/index';
@import 'section-viewers/index';
@import 'section-company-list/index';
@import 'section-account-jobseeker/index';
