include ./social/_index
include ./headline/_index
include ./verify/_index
include ./info/_index
include ./rate/_index

include ./card-post/_index
include ./card-job/_index
include ./card-company/_index
include ./card-indent/_index
include ./card-cv/_index
include ./card-search/_index
include ./search-jobs/_index
include ./search-form/_index
include ./post-thumbnail/_index
include ./overview/_index
include ./contact-us/_index
include ./leave-review/_index
