@import "./social/index";
@import "./list/index";
@import "./headline/index";

@import "./post-thumbnail/index";
@import "./card-post/index";
@import "./card-job/index";
@import "./card-company/index";
@import "./rate/index";
@import "./search-jobs/index";
@import "./search-form/index";
@import "./overview/index";
@import "./contact-us/index";
@import "./leave-review/index";
