@import "navigation-tab/index";
@import "bet-control/index";
@import "bet-count/index";
@import "bet-multiplies/index";
@import "bet-multiply/index";
@import "game-window/index";
@import "bet-autoplay/index";
