@import "./social/index";
@import "./headline/index";
@import "./rate/index";
@import "./verify/index";
@import "./info/index";

@import "./card-post/index";
@import "./card-job/index";
@import "./card-company/index";
@import "./card-indent/index";
@import "./card-cv/index";
@import "./card-search/index";
@import "./post-thumbnail/index";
@import "./search-jobs/index";
@import "./search-form/index";
@import "./overview/index";
@import "./contact-us/index";
@import "./leave-review/index";
