@import "navigation-tab/index";
@import "navigation-body/index";
@import "bet-control/index";
@import "bet-count/index";
@import "bet-table/index";
@import "bet-item/index";
@import "bet-multiplies/index";
@import "bet-multiply/index";
@import "bet-tooltip/index";
@import "bet-info/index";
@import "game-window/index";
@import "bet-autoplay/index";
@import "avatar-logo/index";
@import "fairness/index";
@import "huge-win/index";
