.card-job {
  @include size(100%);
  @include make-spacer('p', 6);
  @include flex($direction: column, $wrap: wrap);

  position: relative;
  background-color: var(--color-white);
  box-shadow: var(--default-box-shadow);
  border-radius: var(--default-border-radius);

  @include media-breakpoint-up(sm) {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  &__logo {
    @include make-spacer('mr', 4);
    @include make-spacer('p', 3);
    @include size(80px);

    display: none;
    background-color: #f8f8f8;
    flex-shrink: 0;

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__description {
    @include make-spacer('mt', 2);
    @include line-clamp(3);

    order: 3;
  }

  &__category {
    @include font-size(12px);

    color: var(--color-accent);
    text-transform: uppercase;
  }

  &__name {
    @include make-spacer('mt', 2);
    @include make-spacer('mb', 1);
    @include font-size(18px);

    display: block;
    font-weight: var(--typography-semibold);

    &:hover {
      color: var(--color-accent);
    }
  }

  &__meta {
    @include make-spacer('ml', -1);
    @include flex($align-items: center, $wrap: wrap);
  }

  &__time,
  &__location,
  &__company {
    @include make-spacer('mr', 2);
    @include make-spacer('mt', 2);
    @include font-size(14px);

    text-align: left;
    color: #6f6f6f;
  }

  &__time,
  &__location,
  &__company,
  &__urgent {

    &::before {
      @include make-spacer('mr', half);

      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      text-align: center;
    }
  }

  &__time,
  &__location,
  &__company {

    &::before {
      width: 20px;
    }
  }

  &__time {

    &::before {
      content: '\f017';
    }
  }

  &__location {

    &::before {
      content: '\f3c5';
    }
  }

  &__company {

    &::before {
      content: '\f1ad';
    }
  }

  &__button {
    white-space: nowrap;
  }

  &__actions {
    @include make-spacer('mt', 2);
    @include make-spacer('mt', 0, sm);
    @include flex($align-items: center, $wrap: wrap);

    @include media-breakpoint-up(sm) {
      justify-content: flex-end;
    }

    & > * {
      @include make-spacer('ml', 0);
      @include make-spacer('mr', 2);
      @include make-spacer('mb', 2);

      @include make-spacer('ml', 2, sm);
      @include make-spacer('mr', 0, sm);
    }
  }

  &__urgent {
    @include make-spacer('p', 1);
    @include flex(center, center);
    @include font-size(11px);

    border: 1px solid currentColor;
    border-radius: var(--default-border-radius);
    color: #dd000b;
    font-weight: var(--typography-semibold);
    text-transform: uppercase;

    &::before {
      content: '\f017';
    }
  }

  &__watched {
    @include make-spacer('mr', 0);
    @include make-spacer('ml', auto);

    @include make-spacer('mr', 0, sm);
    @include make-spacer('ml', 2, sm);

    @include size(40px);
    @include flex(center, center);

    border: 1px solid #b0b0b0;
    border-radius: var(--default-border-radius);
    transition: color 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    text-align: center;
    font-size: 18px;
    color: #b0b0b0;

    &:hover {
      border-color: var(--color-accent);
      color: var(--color-accent);
    }
  }

  &__posted {
    @include make-spacer('mb', 0);
    @include font-size(12px);

    width: 100%;
    color: #b2b2b2;

    @include media-breakpoint-up(sm) {
      text-align: right;
    }
  }

  &--sm {
    flex-wrap: wrap;
    flex-direction: column;

    .card-job {

      &__logo {
        @include make-spacer('mb', 2);
        @include size(65px);
      }

      &__content {
        @include flex($direction: column);
      }

      &__name {
        @include make-spacer('mt', 2);

        order: 1;
      }

      &__category {
        @include make-spacer('mt', auto);
        @include make-spacer('mb', 0);

        order: 3;
        line-height: 1.5;

        &:before {
          @include make-spacer('mr', 1);
          @include font-size(14px);

          font-family: 'Font Awesome 5 Free';
          font-weight: 400;
          content: '\f07b';
        }
      }

      &__meta {
        @include make-spacer('mb', 4);

        order: 2;
      }

      &__actions {
        @include make-spacer('mt', 4);

        justify-content: flex-start;
        width: 100%;

        & > * {
          @include make-spacer('ml', 0);
          @include make-spacer('mr', 2);
          @include make-spacer('m', 0, sm);
        }
      }

      &__watched {
        @include make-spacer('ml', auto);
        @include make-spacer('mr', 0);
      }

      &__urgent,
      &__posted,
      &__company {
        position: static;
        left: 110px;
        z-index: 1;

        @include media-breakpoint-up(sm) {
          position: absolute;
        }
      }

      &__company {
        @include make-spacer('m', 0, sm);

        top: 30px;

        &::before {

          @include media-breakpoint-up(sm) {
            display: none;
          }
        }
      }

      &__urgent {
        top: 70px;
      }

      &__posted {
        top: 50px;
        text-align: left;
      }
    }
  }

  &--active {
    overflow: hidden;

    &::before {
      @include flex(center, flex-end);
      @include size(66px);

      position: absolute;
      top: 0;
      right: 0;
      background-color: #ffae00;
      padding-bottom: 2px;
      z-index: 1;
      transform: rotateZ(45deg) translateY(-45px);
      font-family: 'Font Awesome 5 Free';
      font-weight: 600;
      color: var(--color-white);
      content: '\f005';
    }
  }
}
