mixin card-job(data, actions)
  .card-job&attributes(attributes)
    a(href="#").card-job__logo
      img(src=data.img).img
    .card-job__content
      a(href="#").card-job__category= data.category
      a(href="#").card-job__name= data.position
      .card-job__meta
        a(href="#").card-job__company= data.title
        a(href="#").card-job__location= data.location
        a(href="#").card-job__time= data.time
      p.card-job__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam aspernatur dicta, et eum ex expedita harum laborum molestias provident quam qui quisquam quos reiciendis sequi, temporibus, vel vitae?

    if (actions)
      .card-job__actions
        .card-job__urgent Urgent
        +button('Job details').button--secondary.button--sm.card-job__button
        a.card-job__watched
          i.fa.fa-plus
        p.card-job__posted Posted 10 month ago
