.section {

  &--header {
    @include flex($align-items: center);

    position: relative;
    background-color: var(--color-white);
    background-image: url('https://rekroot.themes.zone/wp-content/uploads/2021/07/home1_back.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    @include media-breakpoint-up(md) {
      min-height: 768px;
    }

    .grid {
      //@include make-spacer('pt', 25, md);

      display: grid;
      grid-template-columns: 1fr;
      align-items: center;

      @include media-breakpoint-up(md) {
        grid-template-columns: 50% 1fr;
      }
    }

    .picture {
      @include size(80%, auto);

      display: none;

      @include media-breakpoint-up(md) {
        @include make-spacer('ml', auto);
        @include make-spacer('mr', 0);

        display: block;
      }
    }

    .title {
      @include make-spacer('mt', 10);
      @include make-spacer('mb', 10);

      span {
        @include make-spacer('mr', 2);

        color: var(--color-accent);
      }
    }

    .subtitle {
      @include make-spacer('my', 4);
      @include font-size(23px);

      color: #171717;
    }

    .text {
      @include make-spacer('mb', 6);

      color: #7f7f7f;
    }

    .search-jobs {
      @include make-spacer('mt', 11);
      @include make-spacer('mb', 11);
    }

    .keys {
      @include flex($align-items: center, $wrap: wrap);

      &__item {
        @include make-spacer('mr', 2);
        @include make-spacer('mb', 2);
      }
    }

    .button {
      @include font-size(12px);

      font-weight: var(--typography-regular);
      height: 37px;
    }
  }
}
