.section {

  &--employer-job-create {

    .headline {
      @include make-spacer('mb', 4);
    }

    .card-create {
      @include make-spacer('mb', 10);

      &:last-child {
        @include make-spacer('mb', 0);
      }
    }
  }
}
