.section {

  &--worker-search-agents {
    background-color: var(--color-white);

    .content {
      @include make-spacer('mb', 6);
    }

    .headline {
      @include make-spacer('mb', 4);
    }

    .text {
      @include make-spacer('my', 4);

      a {
        @include make-spacer('mx', 1);

        color: var(--color-accent);
      }
    }

    .cards {
      @include make-spacer('mt', 6);

      &__item {
        @include make-spacer('mb', 4);

        position: relative;

        &:last-child {
          @include make-spacer('mb', 0);
        }
      }
    }

    .button {
      max-width: 200px;
    }

    .link {
      color: var(--color-accent);
    }
  }
}
