*,
::after,
::before {
  box-sizing: border-box;
}

body {
  @include smooth-font;

  background-color: #101011;
  min-width: var(--min-width);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--color-text);
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-regular);
}

button,
a {
  @include transition(all);
}

button {
  @include reset-button;
}

a {
  cursor: pointer;
  color: var(--color-text);
  text-decoration: none;
}

p {
  @include make-spacer(m, 0);
  @include make-spacer(p, 0);
}

.picture,
.svg,
.img {
  @include size(100%);

  display: block;
  object-fit: contain;
  object-position: center;
}

.img {

  &--cover {
    object-fit: cover;
  }
}

.page {
  display: grid;
  align-items: stretch;
  grid-template-areas: 'b'
                       'a';
  position: relative;
  overflow: hidden;
  max-width: var(--max-width);
  width: 100%;

  @include media-breakpoint-up(lg) {
    grid-template-areas: 'a b c';
    grid-template-columns: 320px 1fr;
    height: 100vh;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: 410px 1fr;
  }

  &--wide {

    .chat {
      @include make-spacer('pt', 10);
      @include make-spacer('pt', 12, xl);
      @include flex($direction: column);

      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 11;
      width: 280px;
    }

    @include media-breakpoint-up(xl) {
      grid-template-areas: 'a b c';
      grid-template-columns: 320px 1fr 280px;

      .chat {
        position: relative;
        width: 100%;
      }
    }

    @include media-breakpoint-up(xxl) {
      grid-template-areas: 'a b c';
      grid-template-columns: 410px 1fr 280px;
    }
  }
}

.content {
  @include flex($justify-content: space-between, $direction: column);

  position: relative;
  padding: 60px 10px 10px;
  overflow: hidden;
  grid-area: b;

  @include media-breakpoint-up(lg) {
    @include make-spacer('pl', 0)
  }
}

.navigation   {
  @include flex($direction: column);

  flex-grow: 1;
  height: 100%;
}

.total-bets {
  @include flex($align-items: center);
  text-transform: uppercase;

  span {
    font-family: var(--font-family-alt);

    &:last-child {
      @include make-spacer('ml', 1);

      min-width: 50px;
      color: var(--color-green);
    }
  }
}

.avatar-list {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-gap: 10px;
  justify-content: center;
  overflow-x: hidden;

  @include media-breakpoint-up(sm) {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 120px);
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(4, 120px);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(5, 120px);
  }
}

.bet-controls {
  @include flex(center, center, column);

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  .bet-control {
    @include make-spacer('mb', 2);
    @include make-spacer('mr', 2, md);
    @include make-spacer('mb', 0, md);

    &:nth-child(1) {

      .bet-control {

        &__remove {
          background: #29a909 url('../img/icon/plus.svg') no-repeat center center
        }
      }
    }

    &:nth-child(2) {

      .bet-control {

        &__remove {
          opacity: 0.6;
          background: url('../img/icon/minus.svg') no-repeat;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    &:last-child {
      @include make-spacer('m', 0);
    }
  }

  &--multiply {

    .bet-control {

      &:nth-child(1) {

        .bet-control {

          &__remove {
            display: none;
          }
        }
      }

      &__remove {
        opacity: 0.6;
        background: url('../img/icon/minus.svg') no-repeat;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.youtube-iframe {
  @include size(100%, 210px);

  display: block;

  @include media-breakpoint-up(md) {
    height: 280px;
  }

  @include media-breakpoint-up(lg) {
    height: 450px;
  }
}

.step {
  @include make-spacer('p', 2);

  display: grid;
  grid-template-columns: 20px 40px 1fr;
  align-items: center;
  column-gap: 10px;
  color: #5f3816;

  &__id {
    font-size: 18px;
    font-weight: var(--typography-bold);
  }
}
