*,
::after,
::before {
  box-sizing: border-box;
}

body {
  @include smooth-font;

  background-color: #101011;
  min-width: var(--min-width);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--color-text);
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-regular);
}

button,
a {
  @include transition(all);
}

button {
  @include reset-button;
}

a {
  cursor: pointer;
  color: var(--color-text);
  text-decoration: none;
}

p {
  @include make-spacer(m, 0);
  @include make-spacer(p, 0);
}

.picture,
.svg,
.img {
  @include size(100%);

  display: block;
  object-fit: contain;
  object-position: center;
}

.img {

  &--cover {
    object-fit: cover;
  }
}

.page {
  @include size(100%, 100vh);

  display: grid;
  grid-template-columns: 410px 1fr;
  align-items: stretch;
  position: relative;
  overflow: hidden;
  max-width: var(--max-width);
  width: 100%;
}

//.aside,
//.content {
//  border: 1px solid red;
//}

.aside {
  @include make-spacer('pt', 14);
  @include make-spacer('px', 2);
}

.content {
  @include flex($justify-content: space-between, $direction: column);

  position: relative;
  padding: 60px var(--grid-outher) var(--grid-outher);
  overflow: hidden;
}

.bet-table {
  @include flex($direction: column);

  border: 1px solid #2A2B2E;
  border-radius: 20px 20px 0 0;
  background-image: url('https://aviator-demo.spribegaming.com/grey-texture-bg.b22cf205f88ab054.png');
  height: calc(100vh - 100px);

  &__header,
  &__footer {
    @include make-spacer('p', 2);

    flex-shrink: 0;
    height: 50px;
  }

  &__content {
    @include make-spacer('p', 2);

    flex-grow: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-corner {
      background-color: #474747;
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid transparent;
      border-radius: 19px;
      background-clip: content-box;
      background-color: #888;
    }

    &::-webkit-scrollbar-track {
      border: 1px solid #373737;
      background-color: #474747;
    }
  }

  &__header {
    border-bottom: 1px solid #2A2B2E;
  }

  &__footer {
    border: 1px solid #2A2B2E;
    background-color: var(--color-black);
    color: #5e6269;
  }

  &__row {
    @include make-spacer('py', 1);

    display: grid;
    grid-template-columns: 130px repeat(3, 1fr);
    align-items: center;
    font-size: 11px;
    color: #7b7b7b;
  }

  &__cell {
    text-align: center;

    &:nth-child(1) {
      @include make-spacer('pl', 1);

      text-align: left;
    }
  }
}

.bet-item {
  @include make-spacer('mb', half);

  display: grid;
  grid-template-columns: 30px 100px repeat(3, 1fr);
  align-items: center;
  column-gap: 5px;
  background: linear-gradient(85deg, var(--color-black), #0f1214);
  border: 2px solid var(--color-black);
  border-radius: 17px;
  height: 34px;
  font-size: 14px;
  color: var(--color-white);

  &:last-child {
    @include make-spacer('mb', 0);
  }

  &__logo {
    @include size(30px);

    background-color: var(--color-gray);
    border-radius: 50%;
    overflow: hidden;
  }

  &__cell {
    text-align: center;

    &:nth-child(2) {
      text-align: left;
    }
  }

  &__value {
    border-radius: 11px;
    border: 1px solid #5e6168;
  }

  &__value,
  &__cash,
  &__multiply {

    span {

      &:last-child {
        margin-left: 2px;
        font-size: 9px;
      }
    }
  }

  &--win {
    border: 1px solid #427F00;
    background: #123406;

    .bet-item {

      &__value {
        border: 0;
      }
    }
  }
}

.avatar-list {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-gap: 20px;
  justify-content: center;
}

.avatar-logo {
  @include size(120px);

  border-radius: 50%;
  overflow: hidden;

  &--active {
    border: 11px solid #428a12;
  }
}

.bet-multiplies {
  @include make-spacer('mb', 2);

  position: relative;
  z-index: 1;

  &--active {
    border-radius: 6px;
    background-color: #262830;
    overflow: hidden;

    .bet-multiplies {

      &__list {
        flex-wrap: wrap;

        &::after {
          display: none;
        }
      }

      &__header {
        @include flex($align-items: center);
      }

      &__body {
        @include make-spacer('pr', 0);

        background-color: #262830;
      }
    }
  }

  &__body {
    @include make-spacer('pr', 14);
  }

  &__header {
    @include make-spacer('py', 2);
    @include make-spacer('px', 1);

    display: none;
    background-color: #1f2128;
    color: var(--color-white);
  }

  &__list {
    @include flex($align-items: center);
    @include make-spacer('py', 1);

    position: relative;
    overflow: hidden;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to left, #0d0d0d, rgba(0, 0, 0, 0));
      width: 20px;
      content: '';
    }
  }

  &__item {
    @include make-spacer('m', 1);
  }

  &__button {
    @include size(46px, 22px);
    @include flex(center, center);

    position: absolute;
    top: 10px;
    right: 10px;
    flex-shrink: 0;
    border-radius: 13px;
    border: solid 1px #6f6f6f;
    background-color: #1e1e1e;

    svg {
      margin: 0 2px;
    }
  }
}

.bet-multiply {
  @include flex(center, center);
  @include make-spacer('px', 2);
  @include font-size(12px, 24px);

  cursor: pointer;
  flex-shrink: 0;
  border-radius: 11px;
  background-color: var(--color-dark);
  height: 22px;
  font-weight: var(--typography-bold);
  color: #d7c3eb;
}

.game-window {
  @include make-spacer('mb', 2);

  position: absolute;
  top: 105px;
  left: var(--grid-outher);
  right: var(--grid-outher);
  bottom: 220px;
  border-radius: 10px;
  overflow: hidden;
  background-color: grey;
}

.bet-controls {
  @include flex(center, center);

  .bet-control {
    @include make-spacer('mr', 2);

    &:last-child {
      @include make-spacer('mr', 0);
    }
  }
}
