*,
::after,
::before {
  box-sizing: border-box;
}

body {
  @include smooth-font;

  background-color: #101011;
  min-width: var(--min-width);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--color-text);
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-regular);
}

button,
a {
  @include transition(all);
}

button {
  @include reset-button;
}

a {
  cursor: pointer;
  color: var(--color-text);
  text-decoration: none;
}

p {
  @include make-spacer(m, 0);
  @include make-spacer(p, 0);
}

.picture,
.svg,
.img {
  @include size(100%);

  display: block;
  object-fit: contain;
  object-position: center;
}

.img {

  &--cover {
    object-fit: cover;
  }
}

.page {
  display: grid;
  align-items: stretch;
  grid-template-areas: 'b'
                       'a';
  position: relative;
  overflow: hidden;
  max-width: var(--max-width);
  width: 100%;

  @include media-breakpoint-up(lg) {
    grid-template-areas: 'a b';
    grid-template-columns: 320px 1fr;
    height: 100vh;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: 410px 1fr;
  }
}

.aside {
  @include make-spacer('pt', 3);
  @include make-spacer('pt', 14, lg);
  @include make-spacer('px', 2);
  @include flex($direction: column);

  grid-area: a;
  overflow: hidden;

  &__body {
    flex-grow: 1;
  }

  &__footer {
    @include flex($align-items: center);
    @include make-spacer('py', 1);
    @include make-spacer('px', 2);

    flex-shrink: 0;
    min-height: 50px;
    border: 1px solid #2A2B2E;
    background-color: var(--color-black);
    color: #5e6269;
  }
}

.content {
  @include flex($justify-content: space-between, $direction: column);

  position: relative;
  padding: 60px 10px 10px;
  overflow: hidden;
  grid-area: b;

  @include media-breakpoint-up(lg) {
    @include make-spacer('pl', 0)
  }
}

.navigation-body {
  display: none;
  overflow: hidden;
  flex-grow: 1;
  height: 100%;

  &--active {
    display: block;
  }
}

.total-bets {
  text-transform: uppercase;

  span {

    &:last-child {
      @include make-spacer('ml', 1);

      color: var(--color-green);
    }
  }
}

.previous-hand {
  border-radius: 20px!important;

  span {
    color: var(--color-white);
    font-size: 14px!important;

    &:nth-child(1) {
      @include make-spacer('mr', 1);
    }
  }
}

.bet-table {
  @include flex($direction: column);

  border: 1px solid #2A2B2E;
  border-radius: 20px 20px 0 0;
  background-image: url('https://aviator-demo.spribegaming.com/grey-texture-bg.b22cf205f88ab054.png');
  height: 100%;

  &__container {
    @include flex(space-between, center);
    @include make-spacer('mb', 2);

    color: var(--color-white);
  }

  &__content {
    @include make-spacer('p', 2);

    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-corner {
      background-color: #474747;
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid transparent;
      border-radius: 19px;
      background-clip: content-box;
      background-color: #888;
    }

    &::-webkit-scrollbar-track {
      border: 1px solid #373737;
      background-color: #474747;
    }
  }

  &__header {
    @include flex($justify-content: center, $direction: column);
    @include make-spacer('py', 1);
    @include make-spacer('px', 2);

    flex-shrink: 0;
    min-height: 50px;
    border-bottom: 1px solid #2A2B2E;

    .bet-table {

      &__row {
        @include make-spacer('p', 0);
      }
    }
  }

  &__row {
    @include make-spacer('py', 1);

    display: grid;
    grid-template-columns: 130px repeat(3, 1fr);
    align-items: center;
    font-size: 11px;
    color: #7b7b7b;
  }

  &__cell {
    text-align: center;

    &:nth-child(1) {
      text-align: left;
    }
  }
}

.bet-item {
  @include make-spacer('mb', half);

  display: grid;
  grid-template-columns: 30px 1fr repeat(3, minmax(50px, 1fr));
  align-items: center;
  column-gap: 5px;
  background: linear-gradient(85deg, var(--color-black), #0f1214);
  border: 2px solid var(--color-black);
  border-radius: 17px;
  padding-left: 1px;
  height: 34px;
  font-size: 14px;
  color: var(--color-white);

  &:last-child {
    @include make-spacer('mb', 0);
  }

  &__value,
  &__cash,
  &__multiply {

    span {

      &:last-child {
        margin-left: 2px;
        font-size: 9px;
      }
    }
  }

  &__logo {
    @include size(30px);

    background-color: var(--color-gray);
    border-radius: 50%;
    overflow: hidden;
  }

  &__cell {
    text-align: center;

    &:nth-child(2) {
      text-align: left;
    }
  }

  &__value {
    border-radius: 11px;
    border: 1px solid #5e6168;
    text-align: center;
  }

  &__icon {
    @include make-spacer('mx', auto);
    @include size(14px, 16px);

    display: block;

    svg {
      @include size(100%);

      display: block;
    }
  }

  &--won {
    border: 1px solid #427F00;
    background: #123406;

    .bet-item {

      &__value {
        border: 0;
      }
    }
  }

  &--custom {
    grid-template-columns: repeat(5, minmax(50px, 1fr));

    .bet-item {

      &__value {
        border: 0;
      }
    }
  }
}

.avatar-list {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-gap: 10px;
  justify-content: center;
  overflow-x: hidden;

  @include media-breakpoint-up(sm) {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 120px);
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(4, 120px);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(5, 120px);
  }
}

.bet-controls {
  @include flex(center, center, column);

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  .bet-control {
    @include make-spacer('mb', 2);
    @include make-spacer('mr', 2, md);

    &:nth-child(1) {

      .bet-control {

        &__remove {
          background: #29a909 url('../img/icon/plus.svg') no-repeat center center
        }
      }
    }

    &:nth-child(2) {

      .bet-control {

        &__remove {
          opacity: 0.6;
          background: url('../img/icon/minus.svg') no-repeat;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    &:last-child {
      @include make-spacer('m', 0);
    }
  }

  &--multiply {

    .bet-control {

      &:nth-child(1) {

        .bet-control {

          &__remove {
            display: none;
          }
        }
      }

      &__remove {
        opacity: 0.6;
        background: url('../img/icon/minus.svg') no-repeat;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
