*,
::after,
::before {
  box-sizing: border-box;
}

body {
  @include smooth-font;

  background-color: #f3f2fc;
  min-width: var(--min-width);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: #262626;
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-regular);
}

button {
  @include reset-button;
}

a {
  @include transition(all);

  cursor: pointer;
  color: var(--color-text);
  text-decoration: none;
}

p {
  @include make-spacer(m, 0);
  @include make-spacer(p, 0);
}

.picture,
.svg,
.img {
  @include size(100%);

  display: block;
  object-fit: contain;
  object-position: center;
}

.img {

  &--cover {
    object-fit: cover;
  }
}

.page {
  position: relative;
  overflow: hidden;
}

.section {
  padding: 85px 0;
}

.container {
  position: relative;
  padding: 0 var(--grid-outher);
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;

  &-fluid {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}


.slick-slider {
  @include make-spacer('pb', 10);
}

.slick-slide {
  @include make-spacer('px', 2);
}

.slick-dots {
  @include flex(center, center);

  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  li {
    @include make-spacer('m', 1);
    @include size(10px);

    cursor: pointer;
    border-radius: 50%;
    background-color: var(--color-accent);
    opacity: 0.5;

    &.slick-active {
      opacity: 1;
    }
  }

  button {
    @include font-size(0);
  }
}

.btn-group {
  @include make-spacer('mx', 1);
  @include make-spacer('mb', 1);
  @include flex(center, center);

  border-radius: var(--default-border-radius);
  overflow: hidden;
  background-color: var(--color-accent);
  color: var(--color-white);

  &__button {
    @include flex(center, center);
    @include size(30px);

    border-radius: 0;
    opacity: 0.8;
    padding: 5px!important;

    svg {
      @include make-spacer('m', 0);
      @include size(16px);

      fill: var(--color-white);
    }

    &:hover,
    &--active {
      opacity: 1;
    }
  }
}
