mixin search-jobs
  .search-jobs&attributes(attributes)
    .search-jobs__wrapper
      .search-jobs__cell
        i.fa.fa-pencil-alt.search-jobs__icon
        input(type="text" placeholder="Keyword").search-jobs__input
        .search-jobs__dropdown.search-jobs__dropdown--active
          a.search-jobs__item HTML
          a.search-jobs__item PHP
          a.search-jobs__item React.js
      .search-jobs__cell
        i.fa.fa-map-marker-alt.search-jobs__icon
        input(type="text" placeholder="Location").search-jobs__input
        .search-jobs__dropdown
          a.search-jobs__item Київ
          a.search-jobs__item Харьків
          a.search-jobs__item Чернігів
    button.button.button--primary.search-jobs__button
      span Search Jobs
      i.fa.fa-search
