mixin info
  .info&attributes(attributes)
    .info__icon
      i.fa.fa-info
    .info__modal
      p Особисті дані будуть вказані в усіх ваших резюме. Якщо захочете, ви зможете їх приховати. Будь ласка, вказуйте справжні особисті дані.
      a(href="#").info__link
        span Докладніше
        i.fa.fa-angle-right
