.section {

  &--testimonials {
    background-color: var(--color-white);
    background-image: url('https://rekroot.themes.zone/wp-content/uploads/2021/06/testim_back-scaled.jpg');
    background-position: 50% 83%;
    background-repeat: no-repeat;
    background-size: 1638px auto;

    .testimonial {
      @include font-size(18px);

      display: grid!important;
      grid-template-columns: 1fr;
      align-items: center;
      grid-gap: 60px;
      color: #747474;
      overflow: hidden;

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(2, 1fr);
      }

      &__text {
        @include make-spacer('mt', 4);
        @include make-spacer('mb', 8);

        line-height: 1.5;
      }

      &__author {
        @include make-spacer('mr', 1);

        font-weight: var(--typography-medium);
        color: var(--color-title);
      }

      &__footer {
        @include flex($align-items: center, $wrap: wrap);

        * {
          @include make-spacer('mb', 1);
        }
      }

      &__image {
        @include make-spacer('mx', auto);

        position: relative;
        max-width: 340px;
        height: auto;

        @include media-breakpoint-up(lg) {
          @include size(340px);
        }

        &::before {
          display: none;
          position: absolute;
          top: 16px;
          bottom: 16px;
          left: 0;
          right: 0;
          transform: translateX(70px);
          background: url('https://rekroot.themes.zone/classic/wp-content/themes/rekroot/assets/img/test_im_back.png') center center no-repeat;
          background-size: contain;
          z-index: 0;
          content: '';

          @include media-breakpoint-up(lg) {
            display: block;
          }
        }

        .img {
          position: relative;
          z-index: 1;
        }
      }

      &__quotes {
        @include make-spacer('mr', 2);
        @include size(19px, 16px);

        position: relative;

        &::before {
          @include size(100%);

          display: block;
          background: url('https://rekroot.themes.zone/classic/wp-content/themes/rekroot/assets/img/quotes.png') center center no-repeat;
          background-size: contain;
          content: "";
        }
      }
    }
  }
}
