.section {

  &--employer-order {

    .headline {
      @include make-spacer('mb', 4);
    }

    .card-trash {
      @include make-spacer('py', 2);

      &__header {
        @include make-spacer('mb', 2);

        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-gap: 20px;

        @include media-breakpoint-up(md) {
          grid-template-columns: 1fr 150px 100px;
        }
      }

      &__title {
        @include line-clamp(3);
      }

      &__field {
        @include make-spacer('mb', 1);
        @include make-spacer('px', 3);
        @include size(100%, 35px);

        border-radius: 3px;
        border: 1px solid var(--color-grey-100);
        background-color: var(--color-white);
        box-shadow: var(--default-box-shadow);
      }

      &__label {
        text-align: right;
      }

      &__link {
        color: var(--color-accent);
      }
    }

    .trash {
      @include make-spacer('mb', 4);

      &:last-child {
        @include make-spacer('mb', 0);
      }

      &__item {
        @include make-spacer('mb', 2);

        border-bottom: 1px solid rgba(224, 223, 242, 0.8);

        &:last-child {
          @include make-spacer('mb', 0);
        }
      }

      &__section {
        @include make-spacer('mb', 8);
      }

      &__wrapper {
        @include make-spacer('mb', 4);

        &--error {

          .trash {

            &__error {
              display: block;
            }

            &__field {
              border-color: var(--color-red);
            }
          }

          .select {

            &__label {
              border-color: var(--color-red);
            }
          }
        }
      }

      &__container {
        @include make-spacer('p', 4);

        background-color: var(--color-white);
        box-shadow: var(--default-box-shadow);
        border-radius: var(--default-border-radius);
      }

      &__toggle {
        @include make-spacer('mt', 4);
      }

      &__textarea,
      &__field {
        @include make-spacer('mb', 1);
        @include make-spacer('px', 3);

        border: 1px solid var(--color-grey-100);
        border-radius: 3px;
        background-color: var(--color-white);
        box-shadow: var(--default-box-shadow);
        width: 100%;
      }

      &__field {
        height: 45px;
      }

      &__textarea {
        @include make-spacer('py', 3);

        resize: vertical;
        height: 150px;
      }

      &__actions {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-gap: 20px;

        @include media-breakpoint-up(sm) {
          grid-template-columns: repeat(2, 220px);
        }
      }

      &__grid {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 5px;

        &--2 {
          @include media-breakpoint-up(sm) {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }

      &__label {
        @include make-spacer('mb', 2);

        strong {
          @include make-spacer('ml', 1);

          color: var(--color-red);
        }

        &--right {
          text-align: right;
        }
      }

      &__error {
        @include make-spacer('mt', 1);
        @include font-size(12px);

        display: none;
        color: var(--color-red);
      }

      &__text {
        opacity: 0.7;
      }

      &__link {
        @include flex($align-items: center);

        i {
          @include make-spacer('mr', 1);
        }

        &--default {
          color: var(--color-accent);
        }

        &--warning {
          color: var(--color-red);
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
