.bet-autoplay {
  font-size: 14px;
  line-height: 14px;
  color: #d2d2d2;

  &__container {
    @include make-spacer('px', 2);
    @include make-spacer('py', 3);
    @include make-spacer('mb', 2);

    background-color: #2c2d30;
    border-radius: var(--default-border-radius);
    width: 100%;

    &:last-child {
      @include make-spacer('mb', 0);
    }

    &--custom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      grid-gap: 10px;

      @include media-breakpoint-up(sm) {
        grid-template-columns: 36px 1fr 140px 10px;
      }
    }
  }

  &__wrapper {
    @include flex(center, center);
  }

  &__text {
    @include make-spacer('mb', 2);

    text-align: center;
  }

  &__button {
    @include make-spacer('mx', half);

    border-radius: var(--default-border-radius)!important;

    &--active {
      border-color: #60ae05;
    }
  }
}

