mixin how-play
  .how-play&attributes(attributes)
    iframe(src="https://www.youtube.com/embed/PZejs3XDCSY?playsinline=1" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen).how-play__iframe
    .how-play__step
      .how-play__id 01
      .how-play__icon
        img(src="./img/icon/how-playing-1.svg").img
      .step__description Make a bet, or even two at same time and wait for the round to start.
    .how-play__step
      .how-play__id 02
      .how-play__icon
        img(src="./img/icon/how-playing-2.svg").img
      .step__description Look after the lucky plane. Your win is bet multiplied by a coefficient of lucky plane.
    .how-play__step
      .how-play__id 03
      .how-play__icon
        img(src="./img/icon/how-playing-3.svg").img
      .how-play__description Cash Out before plane flies away and money is yours!
