.dropped-modal {
  @include flex(center, center);

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;

  &--active {
    @include flex(center, center);
  }

  &__wrapper {
    @include flex($direction: column);
    @include size(100%, 680px);

    border-radius: 6px;
    background-color: rgb(15, 20, 30);
    max-width: 680px;
    max-height: 100vh;
    overflow-y: auto;
  }

  &__header,
  &__footer {
    @include make-spacer('px', 5);

    height: 70px;
    flex-shrink: 0;
  }

  &__header {
    @include flex(flex-end, center);

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__footer {
    @include flex(space-between, center);

    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__body {
    @include flex(center, center, column);
    @include make-spacer('p', 5);

    flex-grow: 1;
  }

  &__content {
    @include make-spacer('mb', 4);

    text-align: center;
    line-height: 1.5;
  }

  &__options {
    @include flex($justify-content: center, $align-items: center, $wrap: wrap);
  }

  &__icon {
    @include make-spacer('mx', auto);
    @include make-spacer('mb', 4);
    @include size(48px);
  }

  &__text {
    @include font-size(18px, 22px);

    max-width: 250px;
    color: rgba(255, 255, 255, 0.3);
  }

  &__close {
    @include size(24px);

    color: rgba(255, 255, 255, 0.2);

    &:hover {
      color: var(--color-accent);
    }

    svg {
      fill: currentColor;
    }
  }

  &__button,
  &__upload {
    @include make-spacer('py', 2);

    position: relative;
    z-index: 1;
    border-radius: var(--default-border-radius);
    height: 38px;
    color: var(--color-white);
  }

  &__button {
    @include make-spacer('px', 5);

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__picture {
    @include make-spacer('my', 4);
    @include make-spacer('mx', auto);
    @include size(300px);
  }

  &__uploading {
    @include flex(center, center);
    @include size(100%);

    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    overflow: hidden;

    input {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }
  }

  &__edit {
    display: none;
  }

  &__preview {
    @include make-spacer('mx', auto);
    @include size(80px);

    overflow: hidden;
    border-radius: var(--default-border-radius);
    border: 1px solid rgba(255, 255, 255, 0.2);

    img {
      @include size(100%);

      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &__box {
    @include flex(center, center);
    @include size(100%);

    position: relative;
  }

  &__upload {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    grid-gap: 5px;
    cursor: pointer;
    transition: var(--default-transition);
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    svg {
      @include size(24px);
    }
  }

  &__file {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }
}
