mixin section-employer-services
  section.section&attributes(attributes)
    .container-fluid
      .container
        .content
          +headline(
            'Послуги та рахунки',
            false,
            true
          )
          .grid
            .grid__column
              a(href="#").item
                span.item__icon.fab.fa-product-hunt
                span.item__text Придбані послуги
            .grid__column
              a(href="#").item
                span.item__icon.fa.fa-calculator
                span.item__text Послуги та ціни
            .grid__column
              a(href="./employer/order.html").item
                span.item__icon.fa.fa-trash
                span.item__text Кошик
                span.item__count 10
            .grid__column
              a(href="./employer/invoices.html").item
                span.item__icon.fa.fa-file-invoice
                span.item__text Рахунки
