.section {

  &--career-advice {

    .slick-slider {
      margin-left: -10px;
      margin-right: -10px;
    }

    .slick-slide {
      padding: 0;
    }

    .card {
      background-color: var(--color-white);
      border-radius: var(--default-border-radius);
      box-shadow: 0 0 19px 0 rgba(224, 223, 242, 0);
      overflow: hidden;
      margin: 0 10px;

      &__img {
        @include size(100%, 212px);
      }

      &__category {
        @include make-spacer('mb', 2);
        @include font-size(13px);

        display: block;
        text-transform: uppercase;
        color: var(--color-accent);

        &:hover {
          text-decoration: underline;
        }
      }

      &__author {
        @include font-size(12px);

        color: #6b6b6b;

        a {
          @include make-spacer('mx', 1);

          font-weight: var(--typography-semibold);

          &:hover {
            color: var(--color-accent);
          }
        }
      }

      &__title {
        @include font-size(18px, 22px);
        @include make-spacer('mb', 6);

        display: block;
        font-weight: var(--typography-semibold);

        &:hover {
          color: var(--color-accent);
        }
      }

      &__body {
        @include make-spacer('p', 6);
      }
    }
  }
}
