.section {

  &--get-in-touch {

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      border-radius: var(--default-border-radius);
      box-shadow: var(--default-box-shadow);
      overflow: hidden;

      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 354px;
      }

      &__column {
        @include make-spacer('p', 6);

        &:first-child {
          background-color: var(--color-white);
        }

        &:last-child {
          background-color: var(--color-accent);
        }
      }
    }

    .form {

      &__field,
      &__textarea {
        @include make-spacer('p', 2);

        border: 1px solid var(--color-grey-100);
        border-radius: var(--default-border-radius);
        width: 100%;

        &:focus {
          outline: 1px solid var(--color-accent);
        }
      }

      &__wrapper {
        display: grid;
        grid-gap: 20px;

        @include media-breakpoint-up(lg) {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      &__block {
        @include make-spacer('mb', 4);
      }

      &__field {
        height: 48px;
      }

      &__textarea {
        resize: vertical;
        height: 280px;
      }

      &__error {
        @include make-spacer('mb', 4);
        @include make-spacer('py', 2);
        @include make-spacer('px', 3);

        border: 2px solid #ffb900;
      }
    }

    .headline {
      @include make-spacer('my', 4);
    }

    .wrapper {
      @include make-spacer('my', 1);

      display: grid;
      grid-template-columns: fit-content(100%) fit-content(100%);
      grid-gap: 10px;
    }

    .text {
      color: var(--color-white);
    }

    .social {
      @include make-spacer('mt', 6);
    }

    .map {
      @include make-spacer('mt', 10);
      @include size(100%, 368px);

      iframe {
        @include size(100%);
      }
    }
  }
}
