---
title: Rekroot
lang: en
---
extends ../../layouts/_layout

block content
  -
    var breadcrumbs = [
      {
        name: 'Головна',
        url: './index.html'
      },
      {
        name: 'Особистий розділ',
        url: './employer/my.html'
      },
      {
        name: 'Вакансії та кандидати',
        url: './employer/jobs.html'
      },
      {
        name: 'Створити вакансію',
        url: false
      }
    ]

  +nav.nav--default.js-nav
  main
    +section-breadcrumbs(false, breadcrumbs).section--breadcrumbs-sm
    +section-employer-job-create.section--employer-job-create
    +section-subscribe-newsletter.section--subscribe-newsletter
