---
title: Rekroot
lang: en
---
extends ../../layouts/_layout

block content
  -
    var breadcrumbs = [
      {
        name: 'Головна',
        url: './index.html'
      },
      {
        name: 'Особистий розділ',
        url: false
      }
    ]

  +nav.nav--default.js-nav
  main
    +section-breadcrumbs('Раді знову бачити вас!', breadcrumbs).section--breadcrumbs
    +section-employer-main.section--employer-main
    +section-subscribe-newsletter.section--subscribe-newsletter
