---
title: Rekroot
lang: en
---
extends ../../layouts/_layout

block content
  -
    var breadcrumbs = [
      {
        name: 'Головна',
        url: './index.html'
      },
      {
        name: 'Особистий розділ',
        url: './employer/my.html'
      },
      {
        name: 'Послуги та рахунки',
        url: './employer/services.html'
      },
      {
        name: 'Придабанні послуги',
        url: false
      }
    ]

  +nav.nav--default.js-nav
  main
    +section-breadcrumbs(false, breadcrumbs).section--breadcrumbs-sm
    +section-employer-purchased-services.section--employer-purchased-services
    +section-subscribe-newsletter.section--subscribe-newsletter
