---
title: Rekroot
lang: en
---
extends ../../layouts/_layout

block content
  -
    var breadcrumbs = [
      {
        name: 'Головна',
        url: './index.html'
      },
      {
        name: 'Управління користувачами',
        url: './employer/my.html'
      },
      {
        name: 'Журнал подій',
        url: false
      }
    ]

  +nav.nav--default.js-nav
  main
    +section-breadcrumbs(false, breadcrumbs).section--breadcrumbs-sm
    +section-employer-users.section--employer-users
    +section-subscribe-newsletter.section--subscribe-newsletter
