mixin navigation-tab
  .navigation-tab&attributes(attributes)
    a(data-href="1").navigation-tab__item.navigation-tab__item--active.js-navigation-tab-item All bets
    a(data-href="2").navigation-tab__item.js-navigation-tab-item My Bets
    a(data-href="3").navigation-tab__item.js-navigation-tab-item Top
