.navigation-tab {
  @include make-spacer('mx', auto);
  @include make-spacer('mb', 2);
  @include size(100%, 25px);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-radius: 10px;
  border: 1px solid #363738;
  overflow: hidden;
  max-width: 310px;

  &__item {
    @include flex(center, center);

    color: var(--color-white);

    &:hover {
      color: var(--color-red);
    }

    &--active {
      background-color: rgba(44, 45, 48, 1);
    }
  }
}
