mixin section-company-list(title, description)
  section.section&attributes(attributes)
    .container-fluid
      .container
        +headline(
          title,
          description
        )

        .cards
          each item in jobs
            .cards__item
              +card-job(item)
          .cards__footer
            a(href="#").button.button--sm.button--primary
              span.button__text Завантажити більше
