:root {
  --color-white: #fff;
  --color-black: #000;

  --color-accent: #5049e1;
  --color-red: #ff3b30;
  --color-green: #74c241;

  --color-grey-200: #a1a1a1;
  --color-grey-100: #e1e1e1;

  --color-title: #363636;
  --color-text: #252525;
}
