:root {
  --color-title: #363636;
  --color-text: #212529;

  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #dc3545;
  --color-green: #28a745;
  --color-gray: #6c757d;
  --color-dark: #343a40;

  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-border: #2A2B2E;
}
