:root {
  --color-title: #363636;
  --color-text: #212529;

  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #007bff;
  --color-indigo: #6610f2;
  --color-purple: #6f42c1;
  --color-pink: #e83e8c;
  --color-red: #dc3545;
  --color-orange: #fd7e14;
  --color-yellow: #ffc107;
  --color-green: #28a745;
  --color-teal: #20c997;
  --color-cyan: #17a2b8;
  --color-gray: #6c757d;
  --color-dark: #343a40;
  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-light: #f8f9fa;
}
