:root {
  --min-width: 20rem;
  --max-width: 100%;

  --default-transition: all 0.3s;

  --grid-outher: 25px;

  @include media-breakpoint-up(md) {
    --grid-outher: 20px;
  }

  @include media-breakpoint-up(xl) {
    --grid-outher: 15px;
  }
}
