:root {
  --min-width: 20rem;
  --max-width: 85rem;

  --default-transition: all 0.3s;
  --default-box-shadow: 0 0 15px 0 rgba(224, 223, 242, 0.8);
  --default-border-radius: 5px;

  --navigation-height: 85px;

  --grid-outher: 25px;

  @include media-breakpoint-up(md) {
    --grid-outher: 20px;
  }

  @include media-breakpoint-up(xl) {
    --grid-outher: 15px;
  }
}
