:root {
  --font-size: 14px;
  --font-family: 'Roboto', sans-serif;
  --font-family-alt: 'Roboto Slab', sans-serif;

  --line-height: 1.5;

  --typography-regular: 400;
  --typography-medium: 500;
  --typography-semibold: 600;
  --typography-bold: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--color-title);
  font-family: var(--font-family);
  font-weight: var(--typography-semibold);
  line-height: 1.15;
}

h1,
.h1 {
  @include font-size(35px);
}

h2,
.h2 {
  @include font-size(36px);
}

h3,
.h3 {
  @include font-size(26px);
}

h4,
.h4 {
  @include font-size(22px);
}

h5,
.h5 {
  @include font-size(20px);
}

h6,
.h6 {
  @include font-size(18px);
}
