mixin section-worker-personal-feed
  section.section&attributes(attributes)
    .container-fluid
      .container
        .content
          +headline(
            'Рекомендовані вакансії ',
            'Поки у вас немає збережених вакансій.',
            true
          ).headline--margin
          p.text
            a(href="./jobs.html") Перейдіть на сторінку пошуку вакансій
            span або на сторінку вакансії та натисніть «Зберегти», щоб переглянути вакансію пізніше та відгукнутися на неї.

        .cards
          each item in jobs
            .cards__item
              +card-job(item)
          .cards__footer
            a(href="#").button.button--sm.button--primary
              span.button__text Завантажити більше
