.section {

  &--worker-personal-feed {
    background-color: var(--color-white);

    .content {
      @include make-spacer('mb', 6);
    }

    .text {

      a {
        @include make-spacer('mr', 1);

        color: var(--color-accent);
      }
    }

    .cards {

      &__item {
        @include make-spacer('mb', 4);
      }

      &__footer {
        @include flex(center);
      }
    }
  }
}
