mixin overview
  .overview&attributes(attributes)
    h4.overview__subtitle Overview
    .overview__item
      .overview__icon
        i.fa.fa-globe
      div
        p.overview__title Location
        p.overview__location London
    .overview__item
      .overview__icon
        i.fa.fa-suitcase
      div
        p.overview__title Job category
        p.overview__location Frontend Development, IT Consulting
    .overview__item
      .overview__icon
        i.fa.fa-wallet
      div
        p.overview__title Salary
        p.overview__location $2800
    .overview__item
      .overview__icon
        i.fa.fa-handshake
      div
        p.overview__title Job type
        p.overview__location Freelance, Temporary
    .overview__item
      .overview__icon
        i.fa.fa-flag
      div
        p.overview__title Founded
        p.overview__location 2009
    .overview__item
      .overview__icon
        i.fa.fa-user
      div
        p.overview__title Employees
        p.overview__location 100 - 300
