.overview {
  @include make-spacer('p', 6);

  background-color: var(--color-white);
  border-radius: var(--default-border-radius);

  &__item {
    @include make-spacer('mb', 4);

    display: grid;
    grid-template-columns: 55px 1fr;
    align-items: center;
    column-gap: 20px;

    &:last-child {
      @include make-spacer('mb', 0);
    }
  }

  &__icon {
    @include flex(center, center);
    @include font-size(28px);
    @include size(55px);

    border-radius: var(--default-border-radius);
    background-color: #f3f2fc;
    color: var(--color-accent);
  }

  &__subtitle {
    @include make-spacer('mb', 4);
  }

  &__title {
    color: var(--color-black);
    font-weight: var(--typography-medium);
  }
}
