.contact-us {
  @include make-spacer('p', 4);
  @include make-spacer('mb', 6);

  background-color: #e9e8f7;
  border-radius: var(--default-border-radius);

  &__item {
    @include make-spacer('mb', 4);

    position: relative;

    &--error {

      &::after {
        @include font-size(32px);
        @include size(50px);
        @include flex(center, center);

        position: absolute;
        top: 0;
        right: 0;
        border-radius: 3px;
        background-color: #e80000;
        color: var(--color-white);
        content: '!';
      }

      .contact-us {

        &__error {
          display: block;
        }

        &__field,
        &__textarea {
          border-color: #e80000;
        }
      }
    }
  }

  &__field,
  &__textarea {
    @include make-spacer('px', 3);

    width: 100%;
    border: 1px solid var(--color-grey-100);
    border-radius: 3px
  }

  &__field {
    height: 50px;
  }

  &__textarea {
    @include make-spacer('py', 3);

    resize: none;
    height: 200px;
  }

  &__button {
    min-width: 150px;

    &--disabled {
      pointer-events: none;
      opacity: 0.7;
    }
  }

  &__error {
    @include font-size(12px);
    @include make-spacer('mt', 1);

    display: none;
    color: #e80000;
  }
}
