@import 'section-worker-main/index';
@import 'section-worker-viewers/index';
@import 'section-worker-account/index';
@import 'section-worker-resume-list/index';
@import 'section-worker-saved-job/index';
@import 'section-worker-hidden-jobs/index';
@import 'section-worker-personal-feed/index';
@import 'section-worker-search-agents/index';
@import 'section-worker-apply-history/index';
@import 'section-worker-delete-agents/index';
