-
  var jobs = [
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo8-150x150.png",
      "title": "Rival Gaming",
      "position": "Mid Java / Scala Developer",
      "location": "Montreal",
      "category": "Securities & Investment",
      "time": "Part time"
    },
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo32-150x150.png",
      "title": "Rammix INC",
      "position": "Senior MLOps",
      "location": "Houston",
      "category": "Accountants, Transportation",
      "time": "Full time"
    },
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo17-150x150.png",
      "title": "Nested Routes Inc",
      "position": "Senior MLOps",
      "location": "Miami",
      "category": "Lawyers / Law Firms",
      "time": "Full time"
    },
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo35-150x150.png",
      "title": "Buagaga Inc",
      "position": "AI/ML Data Scientist",
      "location": "New York",
      "category": "Accountants, Education",
      "time": "Full time"
    },
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo21-150x150.png",
      "title": "Transparent Ideas",
      "position": "Magento 2 Developer",
      "location": "New York",
      "category": "Accountants, Education",
      "time": "Full time"
    },
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo16-150x150.png",
      "title": "Software Kings",
      "position": "HR Team Leader",
      "location": "Mobile",
      "category": "Software Development",
      "time": "Full time"
    },
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo21-150x150.png",
      "title": "Transparent Ideas",
      "position": "Magento 2 Developer",
      "location": "New York",
      "category": "Accountants, Education",
      "time": "Full time"
    },
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo16-150x150.png",
      "title": "Software Kings",
      "position": "HR Team Leader",
      "location": "Mobile",
      "category": "Software Development",
      "time": "Full time"
    }
  ]

-
  var companies = [
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo8-150x150.png",
      "title": "Rival Gaming",
      "rate": "5",
      "location": "Montreal",
      "category": "Securities & Investment",
      "number": "5"
    },
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo32-150x150.png",
      "title": "Rammix INC",
      "rate": "5",
      "location": "Houston",
      "category": "Accountants, Transportation",
      "number": "3"
    },
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo17-150x150.png",
      "title": "Nested Routes Inc",
      "rate": "4",
      "location": "Miami",
      "category": "Lawyers / Law Firms",
      "number": "2"
    },
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo35-150x150.png",
      "title": "Buagaga Inc",
      "rate": "3",
      "location": "New York",
      "category": "Accountants, Education",
      "number": "3"
    },
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo21-150x150.png",
      "title": "Transparent Ideas",
      "rate": "5",
      "location": "New York",
      "category": "Accountants, Education",
      "number": "3"
    },
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo16-150x150.png",
      "title": "Software Kings",
      "rate": "4",
      "location": "Mobile",
      "category": "Software Development",
      "number": "3"
    },
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo23-150x150.png",
      "title": "mindmap.ai",
      "rate": "4",
      "location": "Istanbul",
      "category": "Automotive, Finance",
      "number": "5"
    },
    {
      "img": "https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo28-150x150.png",
      "title": "Astellas Inc",
      "rate": "4",
      "location": "Munich",
      "category": "Banking, Real Estate",
      "number": "3"
    }
  ]

-
  var jobCategories = [
    {
      "title": "Backend Developement",
      "count": "6"
    },
    {
      "title": "Computer Networks",
      "count": "5"
    },
    {
      "title": "Databases & Big Data",
      "count": "6"
    },
    {
      "title": "Distributed Systems",
      "count": "6"
    },
    {
      "title": "Frontend Development",
      "count": "2"
    },
    {
      "title": "IT Administration & Operations",
      "count": "3"
    },
    {
      "title": "IT Consulting",
      "count": "7"
    },
    {
      "title": "IT Project Managment",
      "count": "5"
    },
    {
      "title": "Marketing & Advertising",
      "count": "3"
    },
    {
      "title": "Mobile Software Development",
      "count": "2"
    },
    {
      "title": "Product Developement",
      "count": "6"
    },
    {
      "title": "Statistics & Data Science",
      "count": "1"
    }
  ]

-
  var jobTypes = [
    {
      "title": "Freelance",
      "count": "4"
    },
    {
      "title": "Full Time",
      "count": "4"
    },
    {
      "title": "Internship",
      "count": "3"
    },
    {
      "title": "Part Time",
      "count": "7"
    },
    {
      "title": "Temporary",
      "count": "8"
    }
  ]

-
  var keys = [
    "Sales",
    "Customer Service",
    "Accounting",
    "Entry Level",
    "Administrative Assistant"
  ]


-
  var popularCategories = [
    {
      title: 'IT Project Managment',
      list: [
        'HR Team Leader',
        'Administrative Controller',
        'Junior Project Manager',
        'Engineering Manager',
        'Project Manager Scrum',
        'Administrative Assistant'
      ],
      icon: 'g-domain'
    },
    {
      title: 'Server Developement',
      list: [
        'Magento 2 Developer',
        'Java Cloud Tech Lead',
        'Senior Software Engineer Go',
        'WordPress Engineer',
        'Mid / Senior Java Developer',
        'Ecommerce Developer'
      ],
      icon: 'g-heart'
    },
    {
      title: 'Distributed Systems',
      list: [
        'Java Cloud Tech Lead',
        'Service Delivery Manager',
        'Node.js Developer',
        'Business Analyst(Automotive)',
        'Solutions Architect',
        'Oracle EPM Cloud Specialist'
      ],
      icon: 'g-badge'
    },
    {
      title: 'Databases & Big Data',
      list: [
        'Mid Java / Scala Developer',
        'Senior MLOps',
        'Senior Data Scientist',
        'AI / ML Data Scientist',
        'AI Lead',
        'Machine Learning Engineer'
      ],
      icon: 'g-bars'
    }
  ]


-
  var date = [
    {
      id: "0",
      title: "Число"
    },
    {
      id: "1",
      title: "1"
    },
    {
      id: "2",
      title: "2"
    },
    {
      id: "3",
      title: "3"
    },
  ]

-
  var month = [
    {
      id: "0",
      title: "Місяць"
    },
    {
      id: "1",
      title: "Січня"
    },
    {
      id: "2",
      title: "Лютого"
    },
    {
      id: "3",
      title: "Березня"
    },
  ]

-
  var year = [
    {
      id: "0",
      title: "Рік"
    },
    {
      id: "1",
      title: "1991"
    },
    {
      id: "2",
      title: "1992"
    },
    {
      id: "3",
      title: "1993"
    },
  ]


-
  var jobType = [
    {
      id: "0",
      title: "Выберите тип занятости..."
    },
    {
      id: "1",
      title: "полная занятость"
    },
    {
      id: "2",
      title: "стажировка / практика"
    },
    {
      id: "3",
      title: "сезонная / временная работа"
    },
  ]

-
  var moneyType = [
    {
      id: "0",
      title: "Выберите валюту.."
    },
    {
      id: "1",
      title: "грн."
    },
    {
      id: "2",
      title: "доллар"
    }
  ]
