.card-post-job {
  @include size(100%);
  @include make-spacer('p', 4);

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: center;
  background-color: var(--color-white);
  box-shadow: var(--default-box-shadow);
  border-radius: var(--default-border-radius);

  @include media-breakpoint-up(sm) {
    grid-template-columns: 50px 1fr 200px;
  }

  &__icon {
    @include size(100%);
    @include flex($align-items: center);
    @include font-size(48px);
  }

  &__title {
    @include make-spacer('mb', 2);
  }

  &__text {
    color: #747474;
  }

  &__link {
    white-space: nowrap;
  }
}
