mixin card-post-job
  .card-post-job&attributes(attributes)
    .card-post-job__column
      .card-post-job__icon
        i.fa.fa-file-alt
    .card-post-job__column
      h4.card-post-job__title Додайте вакансію
      p.card-post-job__text Щомісяця вам нараховується безкоштовна можливість розмістити вакансію.
    .card-post-job__column
      a(href="./employer/jobs-create.html").button.button--sm.button--primary.card-post-job__link
        span.button__text Створити вакансію
