---
title: Rekroot
lang: en
---
extends ../../layouts/_layout

block content
  -
    var breadcrumbs = [
      {
        name: 'Головна',
        url: './index.html'
      },
      {
        name: 'Особистий розділ',
        url: './worker/my.html'
      },
      {
        name: 'Приховані вакансії',
        url: false
      }
    ]

  +nav.nav--default.js-nav
  main
    +section-breadcrumbs(false, breadcrumbs).section--breadcrumbs-sm
    +section-worker-hidden-jobs.section--worker-hidden-jobs
    +section-subscribe-newsletter.section--subscribe-newsletter
