mixin section-employer-search-agents
  section.section&attributes(attributes)
    .container-fluid
      .container
        .content
          +headline(
            'Розсилка нових кандидатів',
            false,
            true
          )

          .cards
            .cards__item
              +card-search(true).js-card-search
            .cards__item
              +card-search(true).js-card-search
            .cards__item
              +card-search(true).js-card-search

          .card-create.js-card-create
            a.button.button--sm.button--primary.card-create__button.js-card-create-link
              span.button__text Створити пошук
            .card-create__toggle.js-card-create-toggle
              .card-create__wrapper
                p.card-create__label Запит:
                input(type="text").card-create__field
                p.card-create__error Будь ласка, вкажіть запит
              .card-create__wrapper.card-create__wrapper--error
                p.card-create__label Місто:
                input(type="text").card-create__field
                p.card-create__error Будь ласка, вкажіть місто
              .card-create__wrapper
                p.card-create__label Категорія:
                +select(categories).js-select
                p.card-create__error Будь ласка, вкажіть категорію
              .card-create__wrapper
                .checked.js-checked
                  span.checked__title Надсилати нових кандидатів на ел. пошту
              .card-create__wrapper
                .card-create__actions
                  button.button.button--sm.button--primary.card-create__button.js-card-create-apply
                    span.button__text Зберегти
                  a.card-create__link.card-create__link--warning.js-card-create-cancel Скасувати
