mixin section-employer-search-agents
  -
    var options = [
      {
        id: "0",
        title: "Усі категорії",
      },
      {
        id: "1",
        title: "IT, комп'ютери, інтернет",
      },
      {
        id: "2",
        title: "Адмiнiстрацiя, керівництво середньої ланки",
      },
      {
        id: "3",
        title: "Будівництво, архітектура",
      }
    ]

  section.section&attributes(attributes)
    .container-fluid
      .container
        .content
          +headline(
            'Розсилка нових кандидатів',
            false,
            true
          )

          .cards
            .cards__item
              +card-search(true).js-card-search
            .cards__item
              +card-search(true).js-card-search
            .cards__item
              +card-search(true).js-card-search

          .agents-create
            a.button.button--sm.button--primary.agents-create__button.js-agents-create-show
              span.button__text Створити пошук
            .agents-create__toggle.js-agents-create-toggle
              .agents-create__wrapper
                p.agents-create__label Запит:
                input(type="text").agents-create__field
                p.agents-create__error Будь ласка, вкажіть мобільний телефон
              .agents-create__wrapper.agents-create__wrapper--error
                p.agents-create__label Місто:
                input(type="text").agents-create__field
                p.agents-create__error Будь ласка, вкажіть мобільний телефон
              .agents-create__wrapper
                p.agents-create__label Категорія:
                +select(options).js-select
                p.agents-create__error Будь ласка, вкажіть мобільний телефон
              .agents-create__wrapper
                .checked.js-checked
                  span.checked__title Надсилати нових кандидатів на ел. пошту
              .agents-create__wrapper
                .agents-create__actions
                  button.button.button--sm.button--primary.agents-create__button.js-agents-create-apply
                    span.button__text Зберегти
                  a.agents-create__link.agents-create__link--warning.js-agents-create-cancel Скасувати
