.section {

  &--employer-search-agents {
    background-color: var(--color-white);

    .headline {
      @include make-spacer('mb', 4);
    }

    .cards {
      @include make-spacer('mb', 6);

      &__item {
        @include make-spacer('mb', 4);

        position: relative;

        &:last-child {
          @include make-spacer('mb', 0);
        }
      }
    }
  }
}
