mixin card-search
  .card-search&attributes(attributes)
    .card-search__body
      .card-search__column
        a(href="#").card-search__title Html. IT, комп'ютери, інтернет
        .card-search__actions
          a.card-search__link Реадгувати
          a.card-search__link Видалити
      .card-search__column
        a(href="#").card-search__count
          span 16
          span вакансій
    .card-search__toggle
      p 1
