mixin card-search(type)
  .card-search&attributes(attributes)
    .card-search__body
      .card-search__column
        a(href="#").card-search__title Html. IT, комп'ютери, інтернет
        p.card-search__text Не розсилається.
        if (type)
          .card-search__actions
            button.button.button--sm.button--primary.card-search__button.js-card-search-link
              span.button__text Реадгувати
            a.card-search__link.card-search__link--default Результати
            a.card-search__link.card-search__link--warning Видалити
        else
          .card-search__actions
            a.card-search__link Видалити

      .card-search__column
        a(href="#").card-search__count
          span 16
          span вакансій

    .card-search__toggle.js-card-search-toggle
      .card-create
        .card-create__wrapper
          p.card-create__label
            span Запит
            strong *
          input(type="text").card-create__field
          p.card-create__error Будь ласка, вкажіть запит
        .card-create__wrapper.card-create__wrapper--error
          p.card-create__label
            span Місто
            strong *
          input(type="text").card-create__field
          p.card-create__error Будь ласка, вкажіть місто
        .card-create__wrapper
          p.card-create__label
            span Категорія:
          +select(categories).js-select
          p.card-create__error Будь ласка, вкажіть категорію
        .card-create__wrapper
          .checked.js-checked
            span.checked__title Надсилати нових кандидатів на ел. пошту
        .card-create__wrapper
          .card-create__actions
            button.button.button--sm.button--primary.card-create__button.js-card-create-apply
              span.button__text Зберегти
            a.card-create__link.card-create__link--warning.js-card-search-cancel Скасувати
