mixin company
  .company&attributes(attributes)
    .company__header
      .company__logo
        img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/04/logo8-150x150.png").img
      div
        h3.company__title Rival Gaming
        .company__meta
          .company__rate
            +rate(5)
          p.company__name Living by Playing
          p.company__posted 5 open positions

    .company__image
      img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/03/pexels-cadeau-maestro-1170412-scaled-2-770x265.jpeg").img

    .company__wrapper
      h4.company__title Description
      p Transparent Ideas is a startup in fintech. We are an incubator for startups, we are a leading investment bank, our aim is to help a small number of large, successful companies find new and sustainable investments that are both safe assets and secure under the current circumstances. The first question to be asked here is whether we are a startup. We think that, as a startup, we do have the ability to find ways to get involved in the global financial system and make use of technologies that will allow the community to learn something. We have a pretty good understanding of the technology, understand the risks involved with it, know how to handle it, and use it responsibly. We have an engineering team that are in charge of what we do. We don’t have any external work where we are at risk of developing a new product to launch or doing some financial stuff. Our internal leadership is focused on what happens after we create the product, our outside advisors are focused on who makes sure we have the resources to do the right thing. In the case of Fintech then, we have some external support, because of the need to bring in a team. A few of the big VCs have already invested in the company and now we’re looking to do some work. We are also looking to do some work with other technology companies, which have been in the industry for a long time.
      br
      p This is an ideal opportunity for any technical Architectural Assistants and Technicians/ Technologists looking to work for a growing practice and be heavily involved in all aspects with long term career progression.

    .company__wrapper
      h4.company__title Duties & Responsibilities
      ul.list.list--default
        li.list__item
          p Ability to write code – HTML & CSS (SCSS flavor of SASS preferred when writing CSS)
        li.list__item
          p Proficient in Photoshop, Illustrator, bonus points for familiarity with Sketch (Sketch is our preferred concepting)
        li.list__item
          p Cross-browser and platform testing as standard practice
        li.list__item
          p Experience using Invision a plus
        li.list__item
          p Experience in video production a plus or, at a minimum, a willingness to learn

    .company__wrapper
      h4.company__title Skills & Experience
      ul.list.list--default
        li.list__item
          p Advanced degree or equivalent experience in graphic and web design3 or more years of professional design experience
        li.list__item
          p Direct response email experience
        li.list__item
          p Ecommerce website design experience
        li.list__item
          p Familiarity with mobile and web apps preferred
        li.list__item
          p Excellent communication skills, most notably a demonstrated ability to solicit and address creative and design feedback
        li.list__item
          p Must be able to work under pressure and meet deadlines while maintaining a positive attitude and providing exemplary customer service
        li.list__item
          p Ability to work independently and to carry out assignments to completion within parameters of instructions given, prescribed routines, and standard accepted practices

    .company__wrapper
      h4.company__title Benefits
      p Company is a 2016 Iowa City-born start-up that develops consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.

