title= `SpaceShip`

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="SpaceShip")
meta(name="keywords" content="Keywords")

link(rel="canonical" href="https://site.com/")
link(rel="stylesheet" href="css/app.css")

include ../partials/_favicons
