mixin card-action(dropdown)
  .card-action&attributes(attributes)
    .card-action__header
      .card-action__content
        p.card-action__subtitle Розсилка кандидатів за запитом «HTML-верстальник, Київ» видалена.
        p.card-action__text Igor Tereshchenko, tereschenko23041991@gmail.com, модератор Work.ua
      if(dropdown)
        span.card-action__info.js-card-action-info
          i.fa.fa-info
      p.card-action__data
        strong 14.07.2022
        span 22:40
    if(dropdown)
      .card-action__body.js-card-action-body
        a.card-action__close.js-card-action-close
          i.fa.fa-times
        .card-action__item
          .card-action__column
            p.card-action__name Назва
          .card-action__column
            p.card-action__old Було:
            p.card-action__new Терещенко ФОП
          .card-action__column
            p.card-action__old Стало:
            p.card-action__new Терещенко, ФОП
