mixin alert
  .alert&attributes(attributes)
    h4.alert__title Ваш обліковий запис заблоковано
    p.alert__text Зараз ваші вакансії не розміщуються на сайті та ви не можете переглядати контакти кандидатів.
    h4.alert__subtitle Що робити?
    ul.list.list--default.alert__list
      li.list__item
        p.alert__text
          a(href="#") Вкажіть ваш справжній номер телефону.
          span Нагадуємо, ця контактна інформація потрібна співробітникам Work.ua і не з'явиться на сайті без вашої згоди.
      li.list__item
        p.alert__text
          a(href="#") Напишіть детальніше, чим займається ваша компанія
          span в полі «Опис компанії», наприклад, «Перукарські послуги», «Виробництво автомобілів». Якщо ваша компанія займається продажем товарів, будь ласка, уточніть, який це продаж, оптовий або роздрібний, наприклад, «Роздрібна торгівля насінням для квітів», «Оптовий продаж риболовних снастей».
      li.list__item
        p.alert__text Коли виправите інформацію про компанію, натисніть кнопку «Відправити на перевірку».
    p.alert__text
      span Якщо ви не згодні, вважаєте, що блокування — це помилка модераторів, і ви нічого не порушували — напишіть нам через
      a(href="#") зворотний зв'язок.
      span Ми постараємося розібратися та допомогти вам.
    .checked.js-checked.alert__checked
      span.checked__title Я виправив інформацію про компанію.
    +button('Відправити на перевірку')(type="button").button--primary.alert__button.alert__button--disabled

