.alert {
  @include make-spacer('mb', 6);
  @include make-spacer('p', 4);

  position: relative;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);

  a {
    color: var(--color-accent);
  }

  &__title,
  &__subtitle,
  &__list {
    @include make-spacer('mb', 4);
  }

  &__subtitle,
  &__checked {
    @include make-spacer('mt', 2);
  }

  &__text {

    & > * {
      @include make-spacer('mr', 1);
    }
  }

  &__button {
    @include make-spacer('mt', 4);

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &--danger {
    border-color: var(--color-red);
    background-color: #ffd8d6;

    .alert {

      &__title {
        color: var(--color-red);
      }
    }
  }

  &--success {

  }
}
