.card-post {
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
  overflow: hidden;

  &__body {
    @include make-spacer('py', 6);
    @include make-spacer('px', 8);

    background-color: var(--color-white);
  }

  &__picture {
    @include size(100%, auto);
  }

  &__meta {
    @include make-spacer('my', 2);
    @include flex($align-items: center, $wrap: wrap);
  }

  &__author,
  &__date {
    @include make-spacer('my', 1);

    &:hover {
      color: var(--color-accent);
    }
  }

  &__author {
    @include make-spacer('mr', 3);

    font-weight: var(--typography-semibold);
  }

  &__title {

    a {

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  &__date {
    @include make-spacer('pl', 3);

    position: relative;

    &::before {
      @include size(4px);

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: #545454;
      content: '';
    }
  }

  &__description {
    @include make-spacer('mb', 4);

    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #545454;
  }

  &__image {
    @include make-spacer('mb', 1);
    @include make-spacer('mr', 2);
    @include size(42px);

    border-radius: 50%;
    overflow: hidden;
  }

  &__button {
    display: inline-block;
  }
}
