.section {

  &--employer-purchased-services {

    .content,
    .tab {
      @include make-spacer('mb', 6);
    }

    .headline {
      @include make-spacer('mb', 4);
    }

    .button {
      max-width: 200px;
    }

    .card {
      @include make-spacer('p', 3);

      border-bottom: 1px solid rgba(224, 223, 242, 0.8);

      &__header {
        @include flex($justify-content: space-between, $direction: column, $wrap: wrap);

        @include media-breakpoint-up(md) {
          flex-direction: row;
          flex-wrap: nowrap;
        }

        & > * {
          @include make-spacer('my', 1);
          @include make-spacer('my', 0, md);
        }
      }

      &__body {
        @include make-spacer('mt', 2);

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-gap: 10px;
      }

      &__date {
        color: var(--color-green);
      }

      &__count {
        text-align: right;
      }

      &__link {
        color: var(--color-accent);
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
