.file {
  @include size(150px, auto);

  position: relative;

  &__picture {
    @include make-spacer('mb', 2);
    @include size(100%, 200px);

    background-color: rgba(0,0,0,0.05);
  }

  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__action {
    text-align: center;
    cursor: pointer;
    color: var(--color-accent);
  }

  &__actions {
    @include flex(center, center);
  }

  &__action {
    flex: 1;
  }

  &--custom {
    width: 120px;

    .file {

      &__picture {
        height: 170px;
      }

      &__actions {
        flex-direction: column;
      }

      &__action {
        @include make-spacer('mb', 2);

        &:last-child {
          @include make-spacer('mb', 0);
        }
      }
    }
  }
}
