.select {
  position: relative;
  cursor: pointer;
  box-shadow: var(--default-box-shadow);

  &__label {
    @include make-spacer('pr', 8);
    @include make-spacer('pl', 4);

    @include flex($align-items: center);
    @include size(100%, 42px);

    position: relative;
    border-radius: 3px;
    border: 1px solid var(--color-grey-100);
    background-color: var(--color-white);

    &::before {
      @include size(1px, 30px);

      position: absolute;
      top: 50%;
      right: 40px;
      background-color: var(--color-grey-100);
      transform: translateY(-50%);
      content: '';
    }
  }

  &__arrow {
    @include font-size(18px);

    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: var(--default-transition);
    color: #6f6f6f;
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1;
    border-right: 1px solid var(--color-grey-100);
    border-bottom: 1px solid var(--color-grey-100);
    border-left: 1px solid var(--color-grey-100);
    border-radius: 0 0 3px 3px;
    background-color: #fafafa;
  }

  &__item {
    @include make-spacer('py', 2);
    @include make-spacer('px', 4);

    cursor: pointer;
    transition: var(--default-transition);
    border-bottom: 2px solid var(--color-white);

    &:first-child {
      pointer-events: none;
      opacity: 0.5;
    }

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      background-color: #e4e0e0;
    }
  }

  &--active {

    .select {

      &__dropdown {
        display: block;
      }

      &__arrow {
        transform: translateY(-50%) rotateZ(180deg);
      }
    }
  }
}
