.bet-multiply {
  @include flex(center, center);
  @include make-spacer('px', 2);
  @include font-size(12px, 24px);

  cursor: pointer;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: var(--color-dark);
  height: 22px;
  color: #d7c3eb;
  font-weight: var(--typography-bold);

  span {
    font-size: 11px;

    &:first-child {
      font-weight: var(--typography-bold);
    }

    &:last-child {
      margin-left: 2px;
      font-size: 9px;
    }
  }
}
