mixin section-employer-users
  section.section&attributes(attributes)
    .container-fluid
      .container
        .content
          +headline(
            'Управління користувачами',
            false,
            true
          )

          .cards
            .cards__item
              +card-user.js-card-user
            .cards__item
              +card-user.js-card-user
            .cards__item
              +card-user.js-card-user

          .card-create.js-card-create
            a.button.button--sm.button--primary.card-create__button.js-card-create-link
              span.button__text Додати користувача
            .card-create__toggle.js-card-create-toggle
              .card-create__wrapper
                p.card-create__label
                  span Ім'я та прізвище користувача
                  strong *
                input(type="text").card-create__field
                p.card-create__error Будь ласка, вкажіть ім’я та прізвище користувача.
              .card-create__wrapper
                p.card-create__label
                  span Телефон
                  strong *
                input(type="text").card-create__field
                p.card-create__error Будь ласка, вкажіть телефон користувача.
              .card-create__wrapper
                p.card-create__label
                  span Ел. пошта
                  strong *
                input(type="email").card-create__field
                p.card-create__error Будь ласка, вкажіть ел. адресу користувача.
              .card-create__wrapper.card-create__wrapper--error
                p.card-create__label
                  span Пароль:
                  strong *
                input(type="text").card-create__field
                p.card-create__error Будь ласка, введіть пароль.
              .card-create__wrapper
                p.card-create__label
                  span Пароль ще раз:
                  strong *
                input(type="text").card-create__field
                p.card-create__error Будь ласка, введіть пароль ще раз.
              .card-create__wrapper
                p.card-create__label Роль користувача:
                .card-create__block
                  +radio('Користувач', 'seen').card-change__radio
                  p.card-create__description Бачить тільки свої вакансії та працює з ними.
                .card-create__block
                  +radio('Адміністратор', 'seen').card-change__radio
                  p.card-create__description Бачить і може все: бачить усіх інших користувачів, їхні вакансії та кандидатів, може додавати нових користувачів, редагувати й видаляти їх, розподіляти послуги між користувачами, редагувати інформацію про компанію.
              .card-create__wrapper
              .card-create__wrapper
                p.card-create__label Налаштування повідомлень ел. поштою:
                .checked.js-checked
                  span.checked__title Отримувати новини про зміни та нові можливості сайту
              .card-create__wrapper
                .card-create__actions
                  button.button.button--sm.button--primary.card-create__button.js-card-create-apply
                    span.button__text Зберегти
                  a.card-create__link.card-create__link--warning.js-card-create-cancel Скасувати
