.section {

  &--posts {

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;

      @include media-breakpoint-up(xl) {
        grid-template-columns: 9fr 3fr;
      }
    }

    .headline {
      @include make-spacer('mt', 4);
      @include make-spacer('mb', 6);
    }

    .card-post {
      @include make-spacer('mb', 10);
    }

    .post-thumbnail {
      @include make-spacer('mb', 6);
    }

    .tags {

      &__item {
        @include make-spacer('py', 1);
        @include make-spacer('px', 2);
        @include make-spacer('m', 1);
        @include font-size(12px);

        display: inline-block;
        border-radius: 3px;
        background-color: #e9e8f7;
        color: var(--color-accent);

        &:hover {
          color: var(--color-white);
          background-color: var(--color-accent);
        }
      }
    }

    .list {

      &__link {

        &:hover {
          color: var(--color-accent);
        }
      }
    }

    .search {
      @include make-spacer('mb', 10);
      @include size(100%, 48px);

      position: relative;
      overflow: hidden;
      border-radius: var(--default-border-radius);
      border: 1px solid var(--color-grey-100);

      &__field {
        @include make-spacer('pl', 2);
        @include make-spacer('pr', 8);
        @include size(100%);

        border: 0;
        background-color: var(--color-white);
      }

      &__icon {
        @include font-size(18px);

        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        z-index: 1;
        color: #888686;
      }
    }
  }
}
