.card-cv {
  @include size(100%);
  @include flex($direction: column);

  position: relative;
  background-color: var(--color-white);
  box-shadow: var(--default-box-shadow);
  border-radius: var(--default-border-radius);
  color: #747474;

  &__header,
  &__body {
    @include make-spacer('px', 7);

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  &__header {
    @include make-spacer('py', 4);

    border-bottom: 1px solid rgba(224, 223, 242, 0.8);
    grid-gap: 10px;

    @include media-breakpoint-up(sm) {
      grid-template-columns: 1fr 200px;
    }
  }

  &__body {
    @include make-spacer('py', 6);

    grid-gap: 20px;

    @include media-breakpoint-up(md) {
      grid-template-columns: 80px 1fr 150px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: var(--typography-semibold);
    color: var(--color-accent);
  }

  &__update {
    @include make-spacer('mr', 4);
  }

  &__image {
    @include size(80px);

    background-color: rgba(224, 223, 242, 0.8);
    border-radius: var(--default-border-radius);
  }

  &__icon {
    @include make-spacer('mr', 1);
  }

  &__meta {
    @include make-spacer('my', 1);
    @include flex($align-items: center);

    & > * {
      @include make-spacer('mr', 2);
    }
  }

  &__view {
    color: var(--color-accent);
  }

  &--disabled {

    .card-cv {

      &__body {
        opacity: 0.5;
      }
    }
  }
}
