.section {

  &--worker-viewers {
    background-color: var(--color-white);

    .block {
      @include make-spacer('mb', 8);

      &:last-child {
        @include make-spacer('mb', 0);
      }

      &__header,
      &__item {
        @include make-spacer('mb', 2);
      }

      &__body {
        @include make-spacer('px', 2);
        @include make-spacer('px', 4, sm);
        @include make-spacer('px', 6, md);
        @include make-spacer('mb', 4);
      }

      &__item {

        &:last-child {
          @include make-spacer('mb', 0);
        }
      }

      &__footer {
        @include flex(center);
      }
    }
  }
}
