.nav {
  @include flex(space-between, center);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 12;
  border-bottom: 1px solid #2A2B2E;
  background-image: url('../img/grey-texture-bg.png');
  background-repeat: repeat;
  padding: 0 10px;
  height: 50px;

  .button-help,
  .toggle,
  .deposit {
    @include make-spacer('mr', 2);
  }

  .button-help {
    @include make-spacer('ml', auto);
  }
}
