mixin leave-review
  form.leave-review&attributes(attributes)
    .leave-review__item
      h4.leave-review__title Leave Review
      .leave-review__rate
        +rate(5).rate--checked
    .leave-review__item
      p.leave-review__text Your email address will not be published. Required fields are marked *
    .leave-review__item
      textarea(placeholder="Comment").leave-review__textarea
      p.leave-review__error This is a required field.
    .leave-review__grid
      .leave-review__item.leave-review__item--error
        input(type="text" placeholder="Name").leave-review__field
        p.leave-review__error This is a required field.
      .leave-review__item.leave-review__item--error
        input(type="email" placeholder="Email*").leave-review__field
        p.leave-review__error This is a required field.
    .leave-review__item
      input(type="text" placeholder="Website").leave-review__field
      p.leave-review__error This is a required field.
    .leave-review__item
      .checked.js-checked
        span.checked__title Save my name, email, and website in this browser for the next time I comment.
    .leave-review__item
      +button('Post Comment')(type="submit").button--primary.leave-review__button.leave-review__button--disabled
