.bet-control {
  @include size(100%);

  position: relative;
  border-radius: 20px;
  border: 1px solid #2A2B2E;
  background-image: url('https://aviator-demo.spribegaming.com/grey-texture-bg.b22cf205f88ab054.png');
  max-width: 750px;
  min-width: 310px;
  height: 190px;

  &--single {

    .bet-control {

      &__remove {
        background: #29a909 url('https://aviator-demo.spribegaming.com/btn-plus-black.6b165e6d92216cd5.svg') no-repeat center center
      }
    }
  }

  &--twice {

    .bet-control {

      &__remove {
        opacity: 0.6;
        background: url('https://aviator-demo.spribegaming.com/btn-minus-grey.a1aca6d7eb065c78.svg') no-repeat;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__top,
  &__center,
  &__bottom {
    width: 100%;
  }

  &__container {
    @include size(100%);
    @include flex(center, center, column);
    @include make-spacer('mx', auto);
    @include make-spacer('py', 1);

    max-width: 390px;
  }

  &__remove {
    @include size(21px);

    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    transition: var(--default-transition);
  }

  &__tab {
    @include make-spacer('mx', auto);
    @include make-spacer('mb', 2);
    @include size(202px, 20px);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px #363738;
  }

  &__link {
    @include flex(center, center);

    color: var(--color-white);
    font-size: 11px;
    line-height: 1;

    &:hover {
      color: var(--color-red);
    }

    &--active {
      background-color: rgba(44, 45, 48, 1);
    }
  }

  &__center {
    display: grid;
    grid-template-columns: 140px 1fr;
    align-items: stretch;
    column-gap: 5px;
  }

  &__bottom {
    @include make-spacer('mx', auto);
    @include make-spacer('mt', 2);
    @include make-spacer('px', 2);
    @include flex(center, center);

    border-radius: 20px;
    background: #111215;
    max-width: 390px;
    height: 40px;
  }

  &__button {
    @include make-spacer('px', 2);

    border-radius: 100px;
    border: 1px solid #36363C;
    background-color: #252528;
    height: 20px;
    min-width: 65px;
    text-align: center;
    color: #83878e;

    span {
      &:nth-child(1) {
        font-size: 13px;
      }

      &:nth-child(2) {
        margin-left: 2px;
        font-size: 10px;
      }
    }

    &:hover {
      color: var(--color-white);
      background-color: #36363c;
    }
  }

  &__counts {
    @include make-spacer('px', 1);
    @include flex($align-items: center);

    border-radius: 22px;
    background-color: #000000b3;
    border: solid 1px #3C3C42;

    &--sm {
      height: 28px;

      input {
        width: 70px;
        text-align: center;
      }
    }

    &--lg {
      height: 34px;

      input {
        @include make-spacer('px', 2);

        width: 92px;
        font-size: 22px;
        font-weight: var(--typography-bold);
      }
    }
  }

  &__plus,
  &__minus {
    @include size(16px);

    margin-left: 2px;
    background-size: cover;
  }

  &__minus {
    margin-left: auto;
  }

  &__field {
    border: 0;
    background-color: transparent;
    height: 100%;
    color: var(--color-white);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: 0;
    }
  }

  &__bet {
    @include size(100%);

    background-color: #28a909;
    border-radius: 20px;
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 20px;
  }

  &__currency {
    @include make-spacer('mt', 1);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  &__label {
    @include make-spacer('mr', 2);

    font-size: 12px;
    color: var(--color-white);
  }

  &__auto {
    @include flex($align-items: center);
    @include make-spacer('ml', auto);
    @include make-spacer('mr', 1);
  }
}
