mixin bet-control
  .bet-control&attributes(attributes)
    .bet-control__container
      a.bet-control__remove
      .bet-control__top.js-bet-control-top
        .bet-control__tab
          button(type="button").bet-control__link.bet-control__link--active.js-bet-control-link Bet
          button(type="button").bet-control__link.js-bet-control-link Auto
      .bet-control__center.js-bet-control-center
        .bet-control__cell
          +bet-count.js-bet-count
          .bet-control__currency
            button(type="button" data-value="1").button.button--primary.bet-control__button.js-bet-control-button
              span 1
              span $
            button(type="button" data-value="2").button.button--primary.bet-control__button.js-bet-control-button
              span 2
              span $
            button(type="button" data-value="5").button.button--primary.bet-control__button.js-bet-control-button
              span 5
              span $
            button(type="button" data-value="10").button.button--primary.bet-control__button.js-bet-control-button
              span 10
              span $
        .bet-control__cell
          button(type="button").bet-control__bet.js-bet-control-bet Bet
      .bet-control__bottom.js-bet-control-bottom
        button(type="button" data-value="auto").button.button--primary.bet-control__button.js-bet-control-button
          span AUTO PLAY
        .bet-control__auto
          span.bet-control__label Auto Cash Out
          +switch('auto-cash').js-switch
        .bet-control__counts.bet-control__counts--disabled
          input(type="number" value="1.1").bet-control__field.js-bet-control-field
