.copy {
  position: relative;

  &:hover {

    .copy {

      &__alert {
        display: block;
      }
    }
  }

  &__icon {
    @include make-spacer('mx', auto);
    @include size(14px, 16px);

    display: block;
    position: relative;
    cursor: pointer;

    img {
      @include size(100%);

      display: block;
    }
  }

  &__alert {
    @include make-spacer('py', half);
    @include make-spacer('px', 1);

    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #919da7d9;
    transform: translate(calc(-100% - 15px), -50%);
    border-radius: 3px;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
  }
}
