.rate {
  @include flex(center, center);

  &__item {
    @include make-spacer('mx', half);

    color: var(--color-accent);
  }

  &--checked {
    flex-direction: row-reverse;

    i {
      cursor: pointer;

      &::before {
        font-weight: 400;
      }
    }

    .rate {

      &__item {

        &:hover {

          i {

            &:before {
              font-weight: 900;
            }
          }

          ~ .rate__item {

            i {

              &:before {
                font-weight: 900;
              }
            }
          }
        }
      }
    }
  }
}
