mixin bet-multiplies
  .bet-multiplies&attributes(attributes)
    .bet-multiplies__header Round History
    button(type="button").bet-multiplies__button.js-bet-multiplies-button
      img(src="./img/icon/history.svg")
      img(src="./img/icon/arrow-down.svg")
    .bet-multiplies__body
      .bet-multiplies__list.js-bet-multiplies-list
