.bet-multiplies {
  position: relative;
  margin-bottom: 8px;
  z-index: 1;

  &--active {
    border-radius: var(--default-border-radius);
    background-color: #262830;

    .bet-multiplies {

      &__list {
        flex-wrap: wrap;

        &::after {
          display: none;
        }
      }

      &__header {
        @include flex($align-items: center);

        border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
      }

      &__body {
        @include make-spacer('pr', 0);

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
        background-color: #262830;
      }

      &__button {
        border-color: #e90000;
        background-color: #600;

        img {

          &:last-child {
            transform: rotateZ(180deg);
          }
        }
      }
    }
  }

  &__body {
    @include make-spacer('pr', 14);
  }

  &__header {
    @include make-spacer('py', 2);
    @include make-spacer('px', 2);

    display: none;
    background-color: #1f2128;
    color: var(--color-white);
  }

  &__list {
    @include flex($align-items: center);
    @include make-spacer('py', 1);

    position: relative;
    overflow: hidden;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to left, #0d0d0d, rgba(0, 0, 0, 0));
      width: 20px;
      content: '';
    }
  }

  &__item {
    @include make-spacer('m', 1);
  }

  &__button {
    @include size(46px, 22px);
    @include flex(center, center);

    position: absolute;
    top: 10px;
    right: 10px;
    flex-shrink: 0;
    border-radius: var(--default-border-radius);
    border: solid 1px #6f6f6f;
    background-color: #1e1e1e;

    img {
      margin: 0 2px;
      transition: var(--default-transition);
    }

    &:hover {
      border-color: #e90000;
    }
  }
}
