.section {

  &--employer-company {
    background-color: var(--color-white);

    .headline {
      @include make-spacer('mb', 4);
    }

    .company-create {

      &__body {
        background-color: var(--color-white);
        box-shadow: var(--default-box-shadow);
      }

      &__action,
      &__content {
        @include make-spacer('p', 4);
      }

      &__action {
        border-bottom: 1px solid rgba(224, 223, 242, 0.8);
      }

      &__logo {
        @include make-spacer('p', 2);
        @include size(80px);
        @include make-spacer('mb', 4);

        background-color: #f8f8f8;
      }

      &__content {

        h4 {
          @include make-spacer('mb', 2);
        }

        p {
          @include make-spacer('mt', 2);

          opacity: 0.8;

          * {
            @include make-spacer('mr', 1);
          }
        }

        span {
          color: var(--color-black);
        }

        a {
          color: var(--color-accent);
        }
      }

      &__toggle {
        @include make-spacer('mt', 4);
        @include make-spacer('py', 4);
        @include make-spacer('px', 6);

        display: none;
        background-color: var(--color-white);
        box-shadow: var(--default-box-shadow);
      }

      &__block {
        @include make-spacer('mb', 2);
      }

      &__button {
        max-width: 200px;
      }

      &__grid {
        display: grid;

        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      &__textarea,
      &__field {
        @include make-spacer('px', 3);

        width: 100%;
        border: 1px solid var(--color-grey-100);
        border-radius: 3px;
        background-color: var(--color-white);
        box-shadow: var(--default-box-shadow);
      }

      &__field {
        height: 45px;
      }

      &__textarea {
        @include make-spacer('py', 3);

        height: 150px;
      }

      &__actions {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-gap: 20px;

        @include media-breakpoint-up(sm) {
          grid-template-columns: repeat(2, 150px);
        }
      }

      &__wrapper {
        @include make-spacer('mb', 4);

        &--error {

          .agents-create {

            &__error {
              display: block;
            }

            &__field {
              border-color: var(--color-red);
            }
          }

          .select {

            &__label {
              border-color: var(--color-red);
            }
          }
        }
      }

      &__label {
        @include make-spacer('mb', 2);

        strong {
          @include make-spacer('ml', 1);

          color: var(--color-red);
        }
      }

      &__error {
        @include make-spacer('mt', 1);
        @include font-size(12px);

        display: none;
        color: var(--color-red);
      }
    }
  }
}
