mixin section-employer-company
  -
    var options = [
      {
        id: "0",
        title: "Вибрати",
      },
      {
        id: "1",
        title: "Менш 10",
      },
      {
        id: "2",
        title: "Від 10 до 50",
      },
      {
        id: "3",
        title: "Від 250 до 1000",
      }
    ]

  section.section&attributes(attributes)
    .container-fluid
      .container
        .content
          +headline(
            'Інформація про компанію',
            false,
            true
          )
          .company-create
            .company-create__content
              .company-create__logo
                img(src="https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/04/logo8-150x150.png").img
              h4 Терещенко, ФОП
              a(href="https://tereshchenko-id.com") tereshchenko-id.com
              p
                span менше 10 співробітників
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto assumenda at commodi dignissimos dolores error incidunt, laboriosam nobis officia officiis, perspiciatis quibusdam reprehenderit rerum sed, sint vel veniam voluptate.q
              p
                span Адреса сторінки вашої компанії на сайті:
                a(href="#") www.work.ua/jobs/by-company/2410245/.

          .card-create.js-card-create
            a.button.button--sm.button--primary.card-create__button.js-card-create-link
              span.button__text Редагувати
            .card-create__toggle.js-card-create-toggle
              .card-create__wrapper
                p.card-create__label
                  span Логотип
                +file
                +dropped-modal#dropped-modal
              .card-create__wrapper
                p.card-create__label
                  span Назва
                  strong *
                input(type="text").card-create__field
                p.card-create__error Будь ласка, вкажіть назву компанії.
              .card-create__wrapper
                p.card-create__label
                  span Тип
                  strong *
                p.card-create__error Будь ласка, вкажіть тип.
                .card-create__grid.card-create__grid--2
                  +radio('Прямий роботодавець', 'type').card-card__radio
                  +radio('Кадрова агенція', 'type').card-card__radio
              .card-create__wrapper
                p.card-create__label
                  span Галузь компанії
                  strong *
                p.card-create__error Будь ласка, вкажіть галузь компанії.
                .card-create__grid.card-create__grid--2
                  +radio('Автосервіс', 'work').card-create__radio
                  +radio('IT', 'work').card-change__radio
                  +radio('Пошук персоналу, HR', 'work').card-create__radio
                  +radio('Послуги для населення та бізнесу', 'work').card-create__radio
              .card-create__wrapper
                p.card-create__label
                  span Кількість співробітників у компанії
                  strong *
                +select(options).js-select
                p.card-create__error Будь ласка, вкажіть кількість співробітників у вашій компанії.
              .card-create__wrapper
                p.card-create__label
                  span Сайт вашої компанії
                input(type="text").card-create__field
              .card-create__wrapper
                .card-create__grid.card-create__grid--2
                  .card-create__column
                    p.card-create__label
                      span Контактна особа
                    input(type="text").card-create__field
                  .card-create__column
                    p.card-create__label
                      span Телефон
                    input(type="text").card-create__field
              .card-create__wrapper
                p.card-create__label
                  span Опис компанії
                textarea.card-create__textarea
              .card-create__wrapper
                .checked.js-checked
                  span.checked__title Надсилати нових кандидатів на ел. пошту
              .card-create__wrapper
                .card-create__actions
                  button.button.button--sm.button--primary.card-create__button.js-card-create-apply
                    span.button__text Зберегти
                  a.card-create__link.card-create__link--warning.js-card-create-cancel Скасувати
