.section {

  &--employer-company {
    background-color: var(--color-white);

    .headline {
      @include make-spacer('mb', 4);
    }

    .company-create {
      @include make-spacer('mb', 6);

      background-color: var(--color-white);
      box-shadow: var(--default-box-shadow);
      border-radius: var(--default-border-radius);
      overflow: hidden;

      &__content {
        @include make-spacer('py', 4);
        @include make-spacer('px', 6);
      }

      &__logo {
        @include make-spacer('p', 2);
        @include size(80px);
        @include make-spacer('mb', 4);

        background-color: #f8f8f8;
      }

      &__content {

        h4 {
          @include make-spacer('mb', 2);
        }

        p {
          @include make-spacer('mt', 2);

          opacity: 0.8;

          * {
            @include make-spacer('mr', 1);
          }
        }

        span {
          color: var(--color-black);
        }

        a {
          color: var(--color-accent);
        }
      }

      &__button {
        max-width: 200px;
      }
    }
  }
}
