mixin account
  .account&attributes(attributes)
    a.account__link.js-account-sign-in Sign in
    p.account__text |
    a(href="./worker/my.html").account__link Dashboard
    +button('Post a job').button--primary.account__button
