.account {
  @include make-spacer('p', 0, lg);

  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  padding: 20px var(--grid-outher);
  border-top: 1px solid var(--color-accent);

  @include media-breakpoint-up(lg) {
    @include flex($align-items: center);

    position: static;
    border-top: 0;
    background-color: transparent;
  }

  &__link,
  &__text {
    color: var(--color-accent);

    @include media-breakpoint-up(lg) {
      color: var(--color-white);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__text {
    @include make-spacer('mx', 2);
  }

  &__button {
    @include make-spacer('ml', auto);
    @include make-spacer('ml', 3, lg);
  }

  &--active {
    @include flex($align-items: center);
  }
}
