.billing {
  word-wrap: break-word;
  position: relative;

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }

  &__table {
    @include make-spacer('my', 4);

    display: none;
    border-collapse: collapse;
    border-top: 3px solid var(--color-black);
    border-spacing: 0;
    width: 100%;

    th,
    td {
      @include make-spacer('p', 2);

      border: 1px solid var(--color-black);
      vertical-align: top;
    }

    @include media-breakpoint-up(md) {
      display: table;
    }
  }

  h2 {
    @include make-spacer('mt', 2);
    @include make-spacer('mb', 4);
    @include font-size(20px);

    @include media-breakpoint-up(md) {
      @include font-size(26px);
    }
  }

  h4 {
    @include make-spacer('m', 0);
    @include font-size(16);

    @include media-breakpoint-up(md) {
      @include font-size(22px);
    }
  }

  dl {
    @include make-spacer('mt', 2);
  }

  dt {
    @include make-spacer('mb', 1);
    @include make-spacer('mt', 1, md);
    @include font-size(14px);

    opacity: 0.6;
    color: var(--color-black);

    @include media-breakpoint-up(md) {
      float: left;
      width: 160px;
      clear: left;
      text-align: left;
      opacity: 1;
    }
  }

  dd {
    @include make-spacer('ml', 0);
    @include make-spacer('ml', 33, md);

    &::after,
    &::before {
      content: '';
      display: table;
    }
  }

  p {
    @include make-spacer('mt', 1);
    @include make-spacer('mb', 2);
    @include make-spacer('mb', 4, md);
  }

  hr {
    @include size(100%, 1px);
    @include make-spacer('my', 4);

    border: 0;
    background-color: var(--color-black);
  }

  .hidden-md {

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .visible-md {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .stamp,
  .logo {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}
