mixin billing
  .billing&attributes(attributes)
    .billing__left
      h2 Рахунок № 1497929
      b від 17.05.2021
    .billing__right
      +logo
    .clearfix
    .billing__header
      hr
      dl
        dt Постачальник:
        dd
          | VISA (ТОВ «Ворк Україна»)
          br
          | ЄДРПОУ 41544499
          br
          | IBAN 00000 00000 00000 00000 в ПАТ «Банк Восток»
          br
          | ІПН 415444904659
          br
          | Є платником податку на прибуток на загальних підставах
          br
          | Тел.: 044 000-00-00
      hr
      dl
        dt Платник:
        dd
          | Igor Tereshchenko

    .billing__content
      table.billing__table
        tr
          th #
          th Найменування товару
          th Кількість
          th Ціна без ПДВ
          th Сума
        tr
          td 1
          td Послуга «Start» (пакет 1 місяць) на сайті Work.ua
          td(align="right") 1 шт.
          td(align="right") 325,00
          td(align="right") 325,00
        tr
          td(colspan="3" rowspan="2")
          td(colspan="2" width="195" nowrap="nowrap")
            span.billing__left Разом без ПДВ:
            span.billing__right 325,00
        tr
          td(colspan="2")
            span.billing__left ПДВ:
            span.billing__right 65,00
        tr
          td(colspan="5")
            h5.billing__left Разом до сплати:
            span.billing__right 390,00

      .hidden-md
        p Послуга «Start» (пакет 1 місяць) на сайті Work.ua
        p 325,00 грн
        p 1 шт.
        hr
        p.clearfix
          span.billing__left Разом без ПДВ:
          span.billing__right 325,00
        p.clearfix
          span.billing__left ПДВ:
          span.billing__right 65,00
        p.clearfix
          strong.billing__left Разом до сплати:
          strong.billing__right 390,00

      .visible-md
        p
          | Всього на суму: &nbsp;
          b триста дев'яносто гривень 00 копійок
          br
          | ПДВ: 65.00 грн
      p.billing__left(style="margin-top: 40px; margin-right: 20px")
        | Директор
        br
        | Міхно Артур Володимирович
      p.billing__left
        img(src="/img/stamp.png" width="240" height="120").stamp
    .clearfix(style="margin-top: 40px")
