.section {

  &--employer-events {

    .content {
      @include make-spacer('mb', 6);
    }

    .headline {
      @include make-spacer('mb', 4);
    }

    .date {
      @include make-spacer('px', 3);
      @include flex($align-items: center);
      @include size(100%, 42px);

      position: relative;
      border-radius: 3px;
      border: 1px solid var(--color-grey-100);
      background-color: var(--color-white);
      box-shadow: var(--default-box-shadow);
    }

    .label {
      @include make-spacer('mb', 2);
    }

    .grid {
      @include make-spacer('mb', 5);
      @include flex($align-items: center, $wrap: wrap);

      &__column {
        @include make-spacer('my', 2);
        @include make-spacer('mr', 2);

        flex: 1;
        min-width: 200px;

        &:last-child {
          @include make-spacer('mr', 0);
        }
      }
    }

    .card-action {

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
