mixin card-post-resume
  .card-post-resume&attributes(attributes)
    .card-post-resume__column
      .card-post-resume__icon
        i.fa.fa-file-alt
    .card-post-resume__column
      h4.card-post-resume__title Розмістіть резюме
      p.card-post-resume__text Роботодавці зможуть знайти вас і запропонувати хорошу роботу.
    .card-post-resume__column
      a(href="./worker/resume-create.html").button.button--sm.button--primary.card-post-resume__link
        span.button__text Створити резюме
