.footer {
  position: relative;
  overflow: hidden;
  background-color: var(--color-accent);
  color: #cecdf5;

  &::before,
  &::after {
    position: absolute;
    z-index: 0;
    content: '';
  }

  &::before {
    @include size(247px, 406px);

    top: 0;
    left: 0;
    background: url('https://rekroot.themes.zone/startup/wp-content/themes/rekroot/assets/img/fbl.jpg') top left no-repeat;
    background-size: contain;
  }

  &::after {
    @include size(389px, 420px);

    bottom: 0;
    right: 0;
    background: url('https://rekroot.themes.zone/startup/wp-content/themes/rekroot/assets/img/fbr.jpg') top left no-repeat;
    background-size: contain;
  }

  &__top,
  &__bottom {
    position: relative;
  }

  &__top {
    z-index: 2;
  }

  &__bottom {
    z-index: 1;
  }

  &__top {
    @include make-spacer('py', 10);
  }

  &__bottom {
    @include make-spacer('py', 6);
    @include font-size(13px);
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;

    @include media-breakpoint-up(sm) {
      grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(auto-fit, minmax(calc(20% - 25px), 1fr));
    }
  }

  .submenu {

    &__item {
      @include make-spacer('my', 1);
    }

    &__link {
      display: block;
      color: #cecdf5;

      &:hover {
        color: var(--color-white);
      }
    }
  }

  .language,
  .subtitle,
  .text {
    @include make-spacer('mb', 4);
  }

  .subtitle {
    @include make-spacer('mt', 5);

    color: var(--color-white);
  }
}
