mixin footer
  footer.footer&attributes(attributes)
    .footer__top
      .container-fluid
        .container
          .grid
            .grid__column
              +logo
              p.text Rekroot is a job-finding portal provideng more than 28,000 job offers.
              +language.language--left.js-language
              +social
            .grid__column
              h6.subtitle For Employees
              ul.submenu
                li.submenu__item
                  a(href="#").submenu__link Why Rekroot
                li.submenu__item
                    a(href="#").submenu__link Our Partners Word Wide
                li.submenu__item
                    a(href="#").submenu__link Our Team
                li.submenu__item
                    a(href="#").submenu__link Pricing Plans
            .grid__column
              h6.subtitle For Job Seekers
              ul.submenu
                li.submenu__item
                    a(href="#").submenu__link Our Team
                li.submenu__item
                    a(href="#").submenu__link Pricing Plans
                li.submenu__item
                    a(href="#").submenu__link About Us
                li.submenu__item
                    a(href="#").submenu__link Companies
            .grid__column
              h6.subtitle Help & Support
              ul.submenu
                li.submenu__item
                  a(href="#").submenu__link Work with Us
                li.submenu__item
                  a(href="#").submenu__link Find an office near You
                li.submenu__item
                  a(href="#").submenu__link Meet our Reqruitment Specialists
                li.submenu__item
                  a(href="#").submenu__link Find best Solution
            .grid__column
              h6.subtitle Contacts
              ul.submenu
                li.submenu__item
                  a(href="#").submenu__link Meet the Team
                li.submenu__item
                  a(href="#").submenu__link Subnit your offer
                li.submenu__item
                  a(href="#").submenu__link Help & Support

    .footer__bottom
      .container-fluid
        .container
          p Powered by ...
