mixin section-employer-jobs-list(style)
  section.section&attributes(attributes)
    .container-fluid
      .container
        .content
          if(style === 1)
            +headline(
              'Вакансії та кандидати',
              'У вас ще немає вакансій.',
              true
            )
            p.text Щоб шукачі надсилали вам резюме, створіть вакансію.
            .actions
              a(href="./employer/jobs-create.html").button.button--sm.button--primary.actions__link
                span.button__text Створити вакансію
              a(href="./employer/jobs-trash.html").button.button--sm.button--secondary.actions__link
                span.button__text Видалені вакансії

          else if(style === 2)
            +headline(
              'Видалені вакансії ',
              'У вас немає вакансій, які були видалені протягом останніх 10 днів.',
              true
            )
            .actions
              a(href="./employer/jobs.html").button.button--sm.button--primary.actions__link
                span.button__text Назад до переліку вакансій


          .cards
            each item, index in jobs
              .cards__item
                +card-job(item, false)(class=index === 1 && 'card-job--disabled')
            .cards__footer
              a(href="./employer/jobs-create.html").button.button--sm.button--primary
                span.button__text Створити нову вакансію
