.nav {
  @include flex($align-items: center);

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: var(--navigation-height);
  background-color: var(--color-white);

  @include media-breakpoint-up(lg) {
    background-color: transparent;
  }

  .container {
    @include flex(space-between, center);
  }

  .menu {
    @include make-spacer('ml', 0);
    @include make-spacer('mr', auto);
  }

  .toggle {
    order: 3;
    flex-shrink: 0;

    @include media-breakpoint-up(lg) {
      order: unset;
    }
  }

  .logo {
    @include make-spacer('mr', auto);
  }

  .language {
    @include make-spacer('mr', 4);
  }

  .account-toggle {
    @include make-spacer('mr', 4);
    @include font-size(20px);

    color: var(--color-accent);

    @include media-breakpoint-up(lg) {
      display: none;
    }

    &--active {

      i {

        &::before {
          content: '\f00d';
        }
      }
    }
  }

  &--default,
  &--custom {

    .menu {

      &__link {
        color: var(--color-text);
      }
    }

    .language {

      &__text {
        color: var(--color-text);
      }
    }

    .account {

      &__link,
      &__text {
        color: var(--color-accent);

        @include media-breakpoint-up(lg) {
          color: var(--color-text);
        }
      }
    }
  }

  &--custom {
    background-color: var(--color-white);
  }

  &--default {
    position: relative;
    background-color: var(--color-white);
  }
}
