mixin nav
  nav.nav&attributes(attributes)
    .container-fluid
      .container
        +logo.js-logo
        +menu.js-menu
        +toggle.js-toggle
        +language.language--right.js-language
        .account-toggle.js-account-toggle
          i.fa.fa-user-alt

        +account.js-account
